Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

Using only date in datetime when creating user
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
Owners: @palbock90, @martiskj

Using only date in datetime when creating user
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
Owners: @palbock90, @martiskj

Truncate text on overflow
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Remove inner container
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Started implementation of new overtime system
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/RedDays.cs
  packages/api/AlvTime.Business/TimeEntries/ITimeEntryStorage.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntriesWithCompRateResponseDto.cs
  packages/api/AlvTime.Persistence/AlvTime.Persistence.csproj
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AssociatedTasks.cs
  packages/api/AlvTime.Persistence/DataBaseModels/CompensationRate.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Customer.cs
  packages/api/AlvTime.Persistence/DataBaseModels/EarnedOvertime.cs
  packages/api/AlvTime.Persistence/DataBaseModels/HourRate.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Hours.cs
  packages/api/AlvTime.Persistence/DataBaseModels/PaidOvertime.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Project.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Task.cs
  packages/api/AlvTime.Persistence/DataBaseModels/TaskFavorites.cs
  packages/api/AlvTime.Persistence/DataBaseModels/User.cs
  packages/api/AlvTime.Persistence/DataBaseModels/VDataDump.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
Owners: @palbock90, @martiskj

Collapse padlock space
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Switch position of rate and padlock
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Collapse padlock space
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Switch position of rate and padlock
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Truncate text on overflow
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Remove inner container
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Refactored overtime logic out into overtime service
  packages/api/AlvTime.Business/FlexiHours/AvailableHoursDto.cs
  packages/api/AlvTime.Business/Overtime/EarnedOvertimeDto.cs
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeEntry.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeEntries/ITimeEntryStorage.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryWithCompRateDto.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/TestTimeEntryOptions.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Add operation on emited event for entry expansion
  packages/frontend/src/components/FavoriteSelector.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
Owners: @trulsaa, @klyngen

Add expanded entry, and event emiter on container
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Add operation on emited event in week view
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Add expanded entry, and event emiter on container
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Add operation on emited event in week view
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Add operation on emited event for entry expansion
  packages/frontend/src/components/FavoriteSelector.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
Owners: @trulsaa, @klyngen

Added unit tests for overtimeservice
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/RedDays.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Business/Utils/TaskUtils.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/BusinessLogic/RedDaysTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeServiceTests.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Added empty method for getting available overtime
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
Owners: @palbock90, @martiskj

Added OvertimeController and PayoutController
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeServiceTests.cs
Owners: @palbock90, @martiskj

Update dependencies to latest minor version
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

Complete payout refactoring
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/PayoutsDto.cs
  packages/api/AlvTime.Business/Overtime/AvailableHoursDto.cs
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutDto.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/Payouts/PayoutsDto.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Persistence/README.md
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Responses/PayoutResponse.cs
  packages/api/AlvTimeWebApi/Responses/PayoutsResponse.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeServiceTests.cs
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Update dependencies to latest minor version
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

Make shellcheck happy
  run
  scripts/setup.sh
Owners: none

Correctly use connection string
  docker-compose.yaml
Owners: none

Update slack app to use node 16
  packages/slack-app/Dockerfile
Owners: @trulsaa

pretty print logs with pino-pretty
  packages/slack-app/package.json
Owners: @trulsaa

Make shellcheck happy
  run
  scripts/setup.sh
Owners: none

Update slack npm packages
  package-lock.json
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
Owners: @trulsaa

remove minimum node version from package.json
  packages/slack-app/package.json
Owners: @trulsaa

Start logging errors
  packages/slack-app/src/app.ts
Owners: @trulsaa

Fix ts errors
  packages/slack-app/src/routes/auth/index.ts
Owners: @trulsaa

Update slack npm packages
  package-lock.json
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
Owners: @trulsaa

Update slack app to use node 16
  packages/slack-app/Dockerfile
Owners: @trulsaa

Start logging errors
  packages/slack-app/src/app.ts
Owners: @trulsaa

Fix ts errors
  packages/slack-app/src/routes/auth/index.ts
Owners: @trulsaa

Correctly use connection string
  docker-compose.yaml
Owners: none

remove minimum node version from package.json
  packages/slack-app/package.json
Owners: @trulsaa

pretty print logs with pino-pretty
  packages/slack-app/package.json
Owners: @trulsaa

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa
