Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

User has end date
  packages/adminpanel/src/components/UserTable.tsx
  packages/api/AlvTime.Business/Users/CreateUserDto.cs
  packages/api/AlvTime.Business/Users/IUserStorage.cs
  packages/api/AlvTime.Business/Users/UserResponseDto.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DataBaseModels/User.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/UserQueryableExtensions.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @trulsaa, @theknarf, @palbock90, @martiskj

Can create user with end date
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
Owners: @palbock90, @martiskj

Remove unused terraform outputs
  packages/infrastructure/kubernetes/outputs.tf
  packages/infrastructure/stage-1/outputs.tf
Owners: @trulsaa, @theknarf

Add container registry
  packages/charts/service/data/admin/prod-env.yaml
  packages/charts/service/data/admin/test-env.yaml
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-env.yaml
  packages/charts/service/data/slack-api/prod-env.yaml
  packages/charts/service/data/slack-api/test-env.yaml
  packages/infrastructure/kubernetes/main.tf
  packages/infrastructure/kubernetes/variables.tf
  packages/infrastructure/stage-1/main.tf
  packages/infrastructure/stage-1/variables.tf
Owners: @trulsaa, @klyngen, @theknarf

Can create user with end date
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
Owners: @palbock90, @martiskj

User has end date
  packages/adminpanel/src/components/UserTable.tsx
  packages/api/AlvTime.Business/Users/CreateUserDto.cs
  packages/api/AlvTime.Business/Users/IUserStorage.cs
  packages/api/AlvTime.Business/Users/UserResponseDto.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DataBaseModels/User.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/UserQueryableExtensions.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @trulsaa, @theknarf, @palbock90, @martiskj

Update Packages table in Readme
  Readme.md
Owners: none

Add UsersReport endpoint
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
Owners: @palbock90, @martiskj

Add UsersReport endpoint
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
Owners: @palbock90, @martiskj

Correct flex task in test
  packages/charts/service/data/api/test-env.yaml
Owners: @trulsaa, @klyngen

Correct flex task in test
  packages/charts/service/data/api/test-env.yaml
Owners: @trulsaa, @klyngen

Update Packages table in Readme
  Readme.md
Owners: none

Write shell scripts for plan, build and deploy of infrastructure and service
  Readme.md
  packages/adminpanel/build.sh
  packages/api/build.sh
  packages/frontend/build.sh
  packages/infrastructure/README.md
  packages/infrastructure/cleanup.sh
  packages/infrastructure/stage-1/plan.sh
  packages/infrastructure/stage-2/plan.sh
  packages/slack-app/build.sh
  run
  scripts/buildServices.sh
  scripts/deployInfrastructure.sh
  scripts/deployServices.sh
  scripts/planInfrastructure.sh
  scripts/pushServices.sh
  scripts/setup.sh
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Write shell scripts for plan, build and deploy of infrastructure and service
  Readme.md
  packages/adminpanel/build.sh
  packages/api/build.sh
  packages/frontend/build.sh
  packages/infrastructure/README.md
  packages/infrastructure/cleanup.sh
  packages/infrastructure/stage-1/plan.sh
  packages/infrastructure/stage-2/plan.sh
  packages/slack-app/build.sh
  run
  scripts/buildServices.sh
  scripts/deployInfrastructure.sh
  scripts/deployServices.sh
  scripts/planInfrastructure.sh
  scripts/pushServices.sh
  scripts/setup.sh
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Delete unused pipeline files
  .AzureDevOps/pipelines/deploy-admin-panel.yml
  packages/adminpanel/build-steps.yaml
  packages/api/build-steps.yaml
  packages/charts/service/build-steps.yaml
  packages/charts/service/deploy-steps.yaml
  packages/frontend/build-steps.yaml
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
  packages/slack-app/build-steps.yaml
Owners: @trulsaa, @lnordhus, @theknarf, @palbock90, @martiskj, @klyngen

Rewrite pipeline to use shell scripts
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  .AzureDevOps/pipelines/installDependencies.yaml
Owners: @trulsaa, @lnordhus

Set version on cert-manager and nginx-iingress charts
  scripts/deployInfrastructure.sh
Owners: none

Fix cleanup scripts and spelling
  packages/infrastructure/cleanup.sh
  scripts/setup.sh
Owners: @trulsaa, @theknarf

Modifying endpionts
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysDto.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/IAbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/VacationDaysDTO.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/frontend/src/components/DayPill.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Fix cleanup scripts and spelling
  packages/infrastructure/cleanup.sh
  scripts/setup.sh
Owners: @trulsaa, @theknarf

Set version on cert-manager and nginx-iingress charts
  scripts/deployInfrastructure.sh
Owners: none

Use correct plans in prod deploy
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Test env points to test adminpanel
  packages/charts/service/data/api/test-env.yaml
Owners: @trulsaa, @klyngen

Test env points to test adminpanel
  packages/charts/service/data/api/test-env.yaml
Owners: @trulsaa, @klyngen

Use correct plans in prod deploy
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Set new prod api url in shell scripts as default
  packages/shell/alvtime.sh
Owners: @trulsaa

Remove authorization on get holidays endpoint
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Set new prod api url in shell scripts as default
  packages/shell/alvtime.sh
Owners: @trulsaa

Add endpoints to shell script
  packages/shell/alvtime.sh
Owners: @trulsaa

Remove authorization on get holidays endpoint
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Add endpoints to shell script
  packages/shell/alvtime.sh
Owners: @trulsaa

Able to use access token for profile
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
Owners: @palbock90, @martiskj

Specifying some text
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/views/Login.vue
Owners: @trulsaa, @klyngen

Able to use access token for profile
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
Owners: @palbock90, @martiskj

Specifying some text
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/views/Login.vue
Owners: @trulsaa, @klyngen

Add check to see if the services respond after deploy
  scripts/deployServices.sh
Owners: none

Default to current year when fetching holidays
  packages/shell/alvtime.sh
Owners: @trulsaa

Fix shellcheck errors
  packages/shell/alvtime.sh
Owners: @trulsaa

Split line into an array in a more robust way
  packages/shell/alvtime.sh
Owners: @trulsaa

Default to current year when fetching holidays
  packages/shell/alvtime.sh
Owners: @trulsaa

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/infrastructure/ @trulsaa @theknarf
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa
