Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lundatic

Added docker workflow for api
  .github/workflows/adminpanel-build-and-test.yml
  .github/workflows/api-build-and-test.yml
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/api.yml
  .github/workflows/frontend-build-and-test.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-build-and-test.yml
  .github/workflows/slackapp-docker-publish-master.yml
  .github/workflows/slackapp-docker-publish-releases.yml
  Readme.md
  packages/adminpanel/src/App.test.tsx
Owners: @theknarf, @trulsaa

Added docker workflow for api
  .github/workflows/adminpanel-build-and-test.yml
  .github/workflows/api-build-and-test.yml
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/api.yml
  .github/workflows/frontend-build-and-test.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-build-and-test.yml
  .github/workflows/slackapp-docker-publish-master.yml
  .github/workflows/slackapp-docker-publish-releases.yml
  Readme.md
  packages/adminpanel/src/App.test.tsx
Owners: @theknarf, @trulsaa

Fixed named on workflow
  .github/workflows/api-docker-publish-master.yml
Owners: @theknarf, @trulsaa

Fixed named on workflow
  .github/workflows/api-docker-publish-master.yml
Owners: @theknarf, @trulsaa

Fixes overtime. #195, #194
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

Start adminpanel when doing `run adminpanel` not frontend
  run
Owners: none

Start adminpanel when doing `run adminpanel` not frontend
  run
Owners: none

AvailableHours returned an object unlike swagger-doc. Added cors-policy for local development
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Startup.cs
Owners: @palbock90, @martiskj

AvailableHours returned an object unlike swagger-doc. Added cors-policy for local development
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Startup.cs
Owners: @palbock90, @martiskj

Fix build error by ensuring hours is a number before doing aritmatic on it.
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Remove unexpected sideeffect
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Mostly input validation
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Business/TimeEntries/CreateTimeEntryDto.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryCreator.cs
  packages/api/AlvTime.Business/Validators/HalfHourAttribute.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/AlvTimeWebApi/parameters.json
  packages/api/AlvTimeWebApi/template.json
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/azure-pipelines.yml
Owners: @palbock90, @martiskj

Mostly input validation
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Business/TimeEntries/CreateTimeEntryDto.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryCreator.cs
  packages/api/AlvTime.Business/Validators/HalfHourAttribute.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/AlvTimeWebApi/parameters.json
  packages/api/AlvTimeWebApi/template.json
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/azure-pipelines.yml
Owners: @palbock90, @martiskj

Fixes overtime. #195, #194
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/HourSums.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/Toolbar.vue
  packages/frontend/src/main.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

Fixes overtime. #195, #194
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/HourSums.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/Toolbar.vue
  packages/frontend/src/main.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

Implemented features #192 #225 A lot of small improvements to the user interface
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/models/ColorConfig.ts
  packages/frontend/src/services/overtimeVisualizer.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/tasks.ts
Owners: @trulsaa, @klyngen

Feature-toggled backend to return OK-200 to ordering hours
  packages/api/AlvTimeWebApi/C:/AlvTime-WebApi/AlvTimeWebApi/AlvTimeWebApi.xml
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
Owners: @palbock90, @martiskj

Lagt til link til adminpanel
  packages/frontend/src/components/Drawer.vue
Owners: @trulsaa, @klyngen

Refactored urls and added baseurls in config
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/config.ts
Owners: @trulsaa, @klyngen

Implemented features #192 #225 A lot of small improvements to the user interface
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/tasks.ts
Owners: @trulsaa, @klyngen

Implemented features #192 #225 A lot of small improvements to the user interface
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/tasks.ts
Owners: @trulsaa, @klyngen

Deciding baseurl inside configfile
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/config.ts
Owners: @trulsaa, @klyngen

Can record 0 hours
  packages/api/AlvTime.Business/TimeEntries/CreateTimeEntryDto.cs
Owners: @palbock90, @martiskj

Can record 0 hours
  packages/api/AlvTime.Business/TimeEntries/CreateTimeEntryDto.cs
Owners: @palbock90, @martiskj

Fixed overly eager requests to AvailableHours endpoint
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Filtering out all zero hours
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

Change info text in HoursWithdrawal
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Only show AvailableHours in hours route
  packages/frontend/src/components/AvailableHours.vue
Owners: @trulsaa, @klyngen

Change info text in HoursWithdrawal
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Only show AvailableHours in hours route
  packages/frontend/src/components/AvailableHours.vue
Owners: @trulsaa, @klyngen

Removed console log
  packages/frontend/src/components/AvailableHours.vue
Owners: @trulsaa, @klyngen

Filtering out all zero hours
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

Removed console log
  packages/frontend/src/components/AvailableHours.vue
Owners: @trulsaa, @klyngen

Fixed overly eager requests to AvailableHours endpoint
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Deciding baseurl inside configfile
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/config.ts
Owners: @trulsaa, @klyngen

Lagt til link til adminpanel
  packages/frontend/src/components/Drawer.vue
Owners: @trulsaa, @klyngen

Refactored urls and added baseurls in config
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/config.ts
Owners: @trulsaa, @klyngen

Calculation starts at max date of user start and overtime start
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj

Calculation starts at max date of user start and overtime start
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj

Error message when trying to withdraw more than available hours #238
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
.AzureDevOps/ @trulsaa
.github/ @theknarf @trulsaa
reverse-proxy/ @trulsaa @lundatic
