Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

Finpussing på graf
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/Title.vue
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen

Chart with real data
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen

Started working on bindestrekbrettet
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen

Fixing rebase conflicts
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Show expired access tokens
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/AccessTokenStorage.cs
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
  packages/frontend/src/components/TokensList.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Add vacation command
  packages/slack-app/src/actions/admin.ts
  packages/slack-app/src/actions/index.ts
  packages/slack-app/src/actions/logg.ts
  packages/slack-app/src/actions/register.ts
  packages/slack-app/src/client/index.ts
  packages/slack-app/src/messages/index.ts
  packages/slack-app/src/models/user.ts
  packages/slack-app/src/routes/slack/runCommand.ts
  packages/slack-app/src/services/holidays.test.ts
Owners: @trulsaa

Add vacation command
  packages/slack-app/src/actions/admin.ts
  packages/slack-app/src/actions/index.ts
  packages/slack-app/src/actions/logg.ts
  packages/slack-app/src/actions/register.ts
  packages/slack-app/src/client/index.ts
  packages/slack-app/src/messages/index.ts
  packages/slack-app/src/models/user.ts
  packages/slack-app/src/routes/slack/runCommand.ts
  packages/slack-app/src/services/holidays.test.ts
Owners: @trulsaa

Update hostname name in keyvault
  scripts/setup.sh
Owners: none

Use correct repo in slack-api deployment
  scripts/deployServices.sh
Owners: none

Use correct repo in slack-api deployment
  scripts/deployServices.sh
Owners: none

Update hostname name in keyvault
  scripts/setup.sh
Owners: none

Småfikser etter codereview. Oppretter script for å opprette AlvEconomyDatabase samt legger inn data i EmployeeHourlySalaries for AhreKetil & co.
  docker-compose.yaml
  packages/api/AlvTime.Business/EconomyData/EmployeeSalary.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryRequest.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryRespons.cs
  packages/api/AlvTime.Business/EconomyData/IEmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutRespons.cs
  packages/api/AlvTime.Business/EconomyData/RegisterOvertimePayout.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Database/CreateEconomyDatabase.sql
  packages/api/AlvTime.Persistence/Database/InsertEconomyData.sql
  packages/api/AlvTime.Persistence/EconomyDataDBModels/AlvEconomyDataContext.cs
  packages/api/AlvTime.Persistence/EconomyDataDBModels/EmployeeHourlySalary.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/OvertimePayoutStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
Owners: @palbock90, @martiskj

Hiding locked tasks from view and blocking them from registration
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/frontend/src/components/FavoriteSelector.vue
  packages/frontend/src/store/tasks.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Removed unsused line
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Fixed failing tests
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Removed unecessary compensation rates from tests
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
Owners: @palbock90, @martiskj

Fixed failing tests
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Removed unecessary compensation rates from tests
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
Owners: @palbock90, @martiskj

Removed unsused line
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Hiding locked tasks from view and blocking them from registration
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/frontend/src/components/FavoriteSelector.vue
  packages/frontend/src/store/tasks.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Disable input for locked tasks and display a padlock
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/frontend/src/components/HourInput.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieWeek.vue
  packages/frontend/src/store/__tests__/timeEntries.ts
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Fixed failing test
  packages/frontend/src/store/__tests__/timeEntries.ts
Owners: @trulsaa, @klyngen

Fungerend knapp
  packages/api/.gitignore
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Better login Pressing login button is no longer required Also transitioning over to axios with a neat httpClient that has a middleware resolving the bearer-token
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/AuthProvider.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/GenerateToken.vue
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/components/UnAutherizedUser.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/services/auth.ts
  packages/frontend/src/services/createMsalApp.js
  packages/frontend/src/services/httpClient.ts
  packages/frontend/src/store/absense.ts
  packages/frontend/src/store/auth.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/views/Login.vue
Owners: @trulsaa, @klyngen

Disable input for locked tasks and display a padlock
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/frontend/src/components/HourInput.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieWeek.vue
  packages/frontend/src/store/__tests__/timeEntries.ts
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Fixed failing test
  packages/frontend/src/store/__tests__/timeEntries.ts
Owners: @trulsaa, @klyngen

Styled padlock
  packages/frontend/package-lock.json
  packages/frontend/src/components/FavoriteSelector.vue
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Disable hover effect when HourInput is disabled
  packages/frontend/src/components/HourInput.vue
Owners: @trulsaa, @klyngen

Disable input for locked tasks and display a padlock
  packages/frontend/package-lock.json
  packages/frontend/src/components/HourInput.vue
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Disable input for locked tasks and display a padlock
  packages/frontend/package-lock.json
  packages/frontend/src/components/HourInput.vue
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Removed more legacy error handling-code
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/services/httpClient.ts
  packages/frontend/src/store/index.ts
Owners: @trulsaa, @klyngen

Update packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Removed out of place async/await code
  packages/frontend/src/store/absense.ts
  packages/frontend/src/store/auth.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Removed token-list bugs
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/services/auth.ts
Owners: @trulsaa, @klyngen

Added back devmode
  packages/frontend/src/services/auth.ts
Owners: @trulsaa, @klyngen

Removed read code
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/services/httpClient.ts
  packages/frontend/src/store/error.ts
Owners: @trulsaa, @klyngen

Resolved PR-comments
  packages/frontend/src/components/ErrorSnackbar.vue
  packages/frontend/src/components/FavoriteSelector.vue
  packages/frontend/src/components/HourInput.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/TokensList.vue
Owners: @trulsaa, @klyngen

Legger til noen tester for beregning av lønn ved utbetalt overtid, og fikser på koden slik at testene kjører grønt
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Fiks på feil i testene
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

Adding more tests for overtimepayout calculations
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa
