Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Refactored ProjectController
  packages/api/AlvTime.Business/Projects/ProjectCreator.cs
  packages/api/AlvTime.Business/Projects/ProjectService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/ProjectController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Projects/ProjectStorageTests.cs
Owners: @palbock90, @martiskj

Start testing slack app in pipeline again
  .github/workflows/slackapp-build-and-test.yml
  packages/slack-app/Dockerfile
  packages/slack-app/package.json
  packages/slack-app/src/client/index.test.ts
  packages/slack-app/src/client/index.ts
Owners: @theknarf, @trulsaa

Update packages in adminpanel
  packages/adminpanel/Dockerfile
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/src/App.tsx
  packages/adminpanel/src/components/AzureAdAuthenticator.tsx
Owners: @trulsaa, @theknarf

Update packages in frontend
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

Update packages in adminpanel
  packages/adminpanel/Dockerfile
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/src/App.tsx
  packages/adminpanel/src/components/AzureAdAuthenticator.tsx
Owners: @trulsaa, @theknarf

Update packages in frontend
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

[#437] Change cursor on expandable time entry area
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

[#437] Change cursor on expandable time entry area
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Splitting payout into three comp rates
  packages/api/AlvTime.Business/FlexiHours/GenericPayoutEntry.cs
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/Payouts/PayoutToRegister.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DataBaseModels/PaidOvertime.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/README.md
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Kun en utbetaling per dag
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
Owners: @palbock90, @martiskj

Fixed failing tests
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

Kun en utbetaling per dag
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
Owners: @palbock90, @martiskj

Fixed failing tests
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

Rate added to payouts and deletion by payout date
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Responses/PayoutResponse.cs
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Fix failing tests
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

Remapped transaction data to combine payout items pr day
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Add uuid module
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/declarations.d.ts
Owners: @trulsaa, @klyngen

Refactor table to expand to reveal aggregated lines
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Prevent row from expanding when deleting transaction
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Add key to tr
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

🤦‍♂️
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

🧠 was not present
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Add visual indicator for more information
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Prevent row from expanding when deleting transaction
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

🧠 was not present
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Add key to tr
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Refactor table to expand to reveal aggregated lines
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Add uuid module
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/declarations.d.ts
Owners: @trulsaa, @klyngen

Remapped transaction data to combine payout items pr day
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Fix failing tests
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

Add visual indicator for more information
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

🤦‍♂️
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Rate added to payouts and deletion by payout date
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Responses/PayoutResponse.cs
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Cannot register overtime or flex if you have future flex
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Cannot register overtime or flex if you have future flex
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Move type translation to contants to prevent typod
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Change component import
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Added overtime and payout to sql script
  packages/api/AlvTime.Persistence/Database/InsertData.sql
Owners: @palbock90, @martiskj

Fix expansion of aggregated payouts
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Formatting
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen
