Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Update pino-pretty
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
Owners: @trulsaa

Legg til thumbs up reaction til alle boasts
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/reactions.ts
  packages/slack-app/src/routes/learning-collector/responses.ts
Owners: @trulsaa

Setup Alvar for prod
  packages/slack-app/k8s_environments/prod-env.yaml
  packages/slack-app/src/routes/learning-collector/slack_manifest-prod.json
  packages/slack-app/src/routes/learning-collector/slack_manifest-test.json
Owners: @trulsaa

Enable catching of reactions add error
  packages/slack-app/src/routes/learning-collector/index.ts
Owners: @trulsaa

Improved time registration validation
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Null check latestpayoutdate
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock90, @martiskj

Null check latestpayoutdate
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock90, @martiskj

Improved time registration validation
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Finish first version of learnerSummary
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest.json
Owners: @trulsaa

Finish first version of learnerSummary
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest.json
Owners: @trulsaa

Adder trivy til å scanne hver enkelt container, samt kodebase
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
  .github/workflows/trivy-scan-adminpanel.yml
  .github/workflows/trivy-scan-api.yml
  .github/workflows/trivy-scan-frontend.yml
Owners: @theknarf, @trulsaa

Oppdaterer eksisterende, og legger til manglende, trivy scans
  .github/workflows/trivy-scan-adminpanel.yml
  .github/workflows/trivy-scan-api.yml
  .github/workflows/trivy-scan-code.yml
  .github/workflows/trivy-scan-slackapp.yml
Owners: @theknarf, @trulsaa

Oppdaterer eksisterende, og legger til manglende, trivy scans
  .github/workflows/trivy-scan-adminpanel.yml
  .github/workflows/trivy-scan-api.yml
  .github/workflows/trivy-scan-code.yml
  .github/workflows/trivy-scan-slackapp.yml
Owners: @theknarf, @trulsaa

Adder trivy til å scanne hver enkelt container, samt kodebase
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
  .github/workflows/trivy-scan-adminpanel.yml
  .github/workflows/trivy-scan-api.yml
  .github/workflows/trivy-scan-frontend.yml
Owners: @theknarf, @trulsaa

Ny oppsummering fra alvar som er sortert på alver
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Ny oppsummering fra alvar som er sortert på alver
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Fix rebase conflict
  packages/api/AlvTime.Business/Tasks/FavoriteUpdater.cs
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Business/Tasks/TaskService.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/AlvTimeWebApi/Requests/TaskFavoriteRequest.cs
  packages/api/AlvTimeWebApi/Requests/TaskResponse.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Tasks/TaskStorageTests.cs
Owners: @palbock90, @martiskj

Refactored tasks to clean
  packages/api/AlvTime.Business/Tasks/Admin/TaskCreator.cs
  packages/api/AlvTime.Business/Tasks/UpdateTaskDto.cs
  packages/api/AlvTimeWebApi/Requests/TaskCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/TaskResponse.cs
  packages/api/AlvTimeWebApi/Requests/TaskUpdateRequest.cs
  packages/api/AlvTimeWebApi/Responses/TaskResponse.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Removed UserId from TaskQuerySearch
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
Owners: @palbock90, @martiskj

Refactored tasks to clean
  packages/api/AlvTime.Business/Tasks/Admin/CreateTaskDto.cs
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Business/Tasks/TaskService.cs
  packages/api/AlvTime.Business/Tasks/UpdateTaskDto.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/TaskAdminController.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/AlvTimeWebApi/Requests/TaskCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/TaskUpdateRequest.cs
  packages/api/AlvTimeWebApi/Responses/TaskResponse.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Fix rebase conflict
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Business/Tasks/TaskService.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Refactored tasks to clean
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
Owners: @palbock90, @martiskj

Removed UserId from TaskQuerySearch
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
Owners: @palbock90, @martiskj

Minor beautifying
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock90, @martiskj

Refactored tasks to clean
  packages/api/AlvTime.Business/Tasks/Admin/CreateTaskDto.cs
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Business/Tasks/TaskService.cs
  packages/api/AlvTime.Business/Tasks/UpdateTaskDto.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/TaskAdminController.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/AlvTimeWebApi/Requests/TaskCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/TaskUpdateRequest.cs
  packages/api/AlvTimeWebApi/Responses/TaskResponse.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Fix rebase conflict
  packages/api/AlvTime.Business/Tasks/FavoriteUpdater.cs
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Business/Tasks/TaskService.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/AlvTimeWebApi/Requests/TaskFavoriteRequest.cs
  packages/api/AlvTimeWebApi/Requests/TaskResponse.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Tasks/TaskStorageTests.cs
Owners: @palbock90, @martiskj

Refactored tasks to clean
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
Owners: @palbock90, @martiskj

Removed UserId from TaskQuerySearch
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
Owners: @palbock90, @martiskj

Removed UserId from TaskQuerySearch
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
Owners: @palbock90, @martiskj

Refactored tasks to clean
  packages/api/AlvTime.Business/Tasks/Admin/TaskCreator.cs
  packages/api/AlvTime.Business/Tasks/UpdateTaskDto.cs
  packages/api/AlvTimeWebApi/Requests/TaskCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/TaskResponse.cs
  packages/api/AlvTimeWebApi/Requests/TaskUpdateRequest.cs
  packages/api/AlvTimeWebApi/Responses/TaskResponse.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Minor beautifying
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock90, @martiskj

Fix rebase conflict
  packages/api/AlvTime.Business/Tasks/ITaskStorage.cs
  packages/api/AlvTime.Business/Tasks/TaskService.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Splitting payout into three comp rates
  packages/api/AlvTime.Business/FlexiHours/GenericPayoutEntry.cs
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/Payouts/PayoutToRegister.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DataBaseModels/PaidOvertime.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/README.md
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Remove unwanted chars from learnings input
  packages/slack-app/src/routes/learning-collector/index.ts
Owners: @trulsaa

Properly format informLearnerAboutRegistration message
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Remove unwanted chars from learnings input
  packages/slack-app/src/routes/learning-collector/index.ts
Owners: @trulsaa

Properly format informLearnerAboutRegistration message
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Refactored UserController
  packages/api/AlvTime.Business/Users/UserCreator.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @palbock90, @martiskj

Refactored HourRateController
  packages/api/AlvTime.Business/HourRates/HourRateCreator.cs
  packages/api/AlvTime.Business/HourRates/HourRateService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/HourRateController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/HourRates/HourRateStorageTests.cs
Owners: @palbock90, @martiskj

Refactored CustomerController
  packages/api/AlvTime.Business/Customers/CustomerCreator.cs
  packages/api/AlvTime.Business/Customers/CustomerService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/CustomerController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Customers/CustomerStorageTests.cs
Owners: @palbock90, @martiskj
