Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock, @lnordhus

Update deploy-pipeline.yaml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Update deploy-pipeline.yaml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Update deploy-pipeline.yaml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Update trivy-scan-api.yml
  .github/workflows/trivy-scan-api.yml
Owners: @theknarf, @trulsaa

Update deploy-pipeline.yaml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Update trivy-scan-frontend.yml
  .github/workflows/trivy-scan-frontend.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-code.yml
  .github/workflows/trivy-scan-code.yml
Owners: @theknarf, @trulsaa

Update deploy-pipeline.yaml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Update trivy-scan-adminpanel.yml
  .github/workflows/trivy-scan-adminpanel.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-code.yml
  .github/workflows/trivy-scan-code.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-slackapp.yml
  .github/workflows/trivy-scan-slackapp.yml
Owners: @theknarf, @trulsaa

Kan override opptjent ferie for graduates
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/CustomVacationOverrideOverview.cs
  packages/api/AlvTime.Business/Absence/IAbsenceStorage.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/DatabaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DatabaseModels/User.cs
  packages/api/AlvTime.Persistence/DatabaseModels/VacationDaysEarnedOverride.cs
  packages/api/AlvTime.Persistence/Repositories/AbsenceStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @palbock, @lnordhus, @trulsaa, @klyngen

Kan override opptjent ferie for graduates
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/CustomVacationOverrideOverview.cs
  packages/api/AlvTime.Business/Absence/IAbsenceStorage.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/DatabaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DatabaseModels/User.cs
  packages/api/AlvTime.Persistence/DatabaseModels/VacationDaysEarnedOverride.cs
  packages/api/AlvTime.Persistence/Repositories/AbsenceStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @palbock, @lnordhus, @trulsaa, @klyngen

AvailableVacationDaysTransferedFromLastYear
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock, @lnordhus

Added bonus tests for Kalving logic
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock, @lnordhus

Formatting
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock, @lnordhus

Added bonus tests for Kalving logic
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock, @lnordhus

AvailableVacationDaysTransferedFromLastYear
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock, @lnordhus

Formatting
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock, @lnordhus

Prøver å splitte bar
  package-lock.json
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/store/absense.ts
Owners: @trulsaa, @klyngen

Added split when hovering vacation-bar
  package-lock.json
  packages/frontend/src/components/Hamburger.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/store/absense.ts
Owners: @trulsaa, @klyngen

Added split when hovering vacation-bar
  package-lock.json
  packages/frontend/src/components/Hamburger.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/store/absense.ts
Owners: @trulsaa, @klyngen

Prøver å splitte bar
  package-lock.json
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/store/absense.ts
Owners: @trulsaa, @klyngen

Small change to improve text when hovering overtime Title of available time was changing even though there was no hours left - Implemented a small change to absense-store adding a small if-statement
  packages/frontend/src/store/absense.ts
Owners: @trulsaa, @klyngen

Max av 0 og diff
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
Owners: @palbock, @lnordhus

Max av 0 og diff
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
Owners: @palbock, @lnordhus

Small change to improve text when hovering overtime Title of available time was changing even though there was no hours left - Implemented a small change to absense-store adding a small if-statement
  packages/frontend/src/store/absense.ts
Owners: @trulsaa, @klyngen

Small change to improve text when hovering overtime Title of available time was changing even though there was no hours left - Implemented a small change to absense-store adding a small if-statement
  packages/frontend/src/store/absense.ts
Owners: @trulsaa, @klyngen

Support withdrawal of 0.5 hours in the bar, fixes #471
  packages/frontend/src/components/OvertimeVisualizer.vue
Owners: @trulsaa, @klyngen

Bump node image version to make debian repository happy
  packages/frontend/Dockerfile
Owners: @trulsaa, @klyngen

Bump node image version to make debian repository happy
  packages/frontend/Dockerfile
Owners: @trulsaa, @klyngen

Support withdrawal of 0.5 hours in the bar, fixes #471
  packages/frontend/src/components/OvertimeVisualizer.vue
Owners: @trulsaa, @klyngen

Created user end date requirement handler
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Authorization/AuthorizationExtensions.cs
  packages/api/AlvTimeWebApi/Authorization/Handlers/EmployeeStillActiveHandler.cs
  packages/api/AlvTimeWebApi/Authorization/Policies/AllowPersonalAccessTokenPolicy.cs
  packages/api/AlvTimeWebApi/Authorization/Requirements/EmployeeStillActiveRequirement.cs
  packages/frontend/src/services/auth.ts
Owners: @palbock, @lnordhus, @trulsaa, @klyngen

Fix kubelogin error
  .AzureDevOps/pipelines/installDependencies.yaml
  scripts/deployServices.sh
Owners: @trulsaa, @lnordhus

Fix kubelogin error
  .AzureDevOps/pipelines/installDependencies.yaml
  scripts/deployServices.sh
Owners: @trulsaa, @lnordhus

Run Auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Run Auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Remove Auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Remove Auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Remove Auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock @lnordhus
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa
