Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

Fix alvar error on missing location of details
  packages/slack-app/src/routes/learning-collector/index.ts
Owners: @trulsaa

Comp rate from 1990
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock90, @martiskj

Comp rate from 1990
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock90, @martiskj

Comp rate from 1990
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/TaskStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock90, @martiskj

Uncommented authorizeadmin
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock90, @martiskj

Uncommented authorizeadmin
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock90, @martiskj

Using start date to calculate vacation days
  packages/api/AlvTime.Business/Absence/AbsenceDaysDto.cs
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/IAbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysDto.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/IAbsenseDaysService.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock90, @martiskj

Using start date to calculate vacation days
  packages/api/AlvTime.Business/Absence/AbsenceDaysDto.cs
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/IAbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysDto.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/IAbsenseDaysService.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock90, @martiskj

Using start date to calculate vacation days
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock90, @martiskj

Only showing used and planned vacation for current year
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/frontend/src/store/absense.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Only showing used and planned vacation for current year
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/VacationDaysDTO.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/frontend/src/store/absense.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Using start date to calculate vacation days
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
Owners: @palbock90, @martiskj

Added empty holiday data visualization
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/NoHolidayData.vue
Owners: @trulsaa, @klyngen

Added empty holiday data visualization
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/NoHolidayData.vue
Owners: @trulsaa, @klyngen

Created and updated database models
  packages/api/AlvTime.Business/HourRates/HourRateService.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/DatabaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DatabaseModels/EmploymentRate.cs
  packages/api/AlvTime.Persistence/DatabaseModels/User.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/HourRateController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/HourRates/HourRateStorageTests.cs
Owners: @palbock90, @martiskj

Added endpoints and logic for fetching and creating employment rates
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/TimeEntries/CreateTimeEntryDto.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryWithCompRateDto.cs
  packages/api/AlvTime.Business/Users/EmploymentRateChangeRequest.cs
  packages/api/AlvTime.Business/Users/EmploymentRateDto.cs
  packages/api/AlvTime.Business/Users/EmploymentRateInfo.cs
  packages/api/AlvTime.Business/Users/EmploymentRateResponse.cs
  packages/api/AlvTime.Business/Users/IUserRepository.cs
  packages/api/AlvTime.Business/Users/IUserStorage.cs
  packages/api/AlvTime.Business/Users/UserCreator.cs
  packages/api/AlvTime.Business/Users/UserDto.cs
  packages/api/AlvTime.Business/Users/UserResponseDto.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTime.Business/Utils/DateFormatter.cs
  packages/api/AlvTime.Business/Validators/QuarterHour.cs
  packages/api/AlvTime.Persistence/Repositories/EmploymentRateQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/UserRepository.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Controllers/AccessTokenController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/DateFormatter.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @palbock90, @martiskj

Added functionality and tests for employment rates
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Added functionality and tests for employment rates
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Correctly map expiryDate from create acces token respons
  packages/frontend/src/components/GenerateToken.vue
Owners: @trulsaa, @klyngen

Check that user email is set when fetching user context
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
Owners: @palbock90, @martiskj

Correctly map expiryDate from create acces token respons
  packages/frontend/src/components/GenerateToken.vue
Owners: @trulsaa, @klyngen

Check that user email is set when fetching user context
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
Owners: @palbock90, @martiskj

Fix vacation overview bug
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
Owners: @palbock90, @martiskj

Fix vacation overview bug
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
Owners: @palbock90, @martiskj

Added endpoint for HourAnalytics for admin
  packages/api/AlvTime.Business/Overtime/AvailableOvertimeDto.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Business/Users/ISalaryRepository.cs
  packages/api/AlvTime.Persistence/Repositories/SalaryRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AnalyticsController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserMapper.cs
Owners: @palbock90, @martiskj

Added endpoint for HourAnalytics for admin
  packages/api/AlvTime.Business/Overtime/AvailableOvertimeDto.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Business/Users/ISalaryRepository.cs
  packages/api/AlvTime.Persistence/Repositories/SalaryRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AnalyticsController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserMapper.cs
Owners: @palbock90, @martiskj

Payouts also check for user
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
Owners: @palbock90, @martiskj

Payouts also check for user
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
Owners: @palbock90, @martiskj

Laget validering for at alle timer må være ført før utbetaling
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/Payouts/PayoutValidationService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AnalyticsController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserMapper.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Laget validering for at alle timer må være ført før utbetaling
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/Payouts/PayoutValidationService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AnalyticsController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserMapper.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Fixed test failing the week before holidays 🐛
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Utils/DateUtils.cs
Owners: @palbock90, @martiskj

Fixed test failing the week before holidays 🐛
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Utils/DateUtils.cs
Owners: @palbock90, @martiskj

feature invoie-rate 📦 Made an MVP, just enough to show a simple percentage - Implemented a new repository, service and a controller - Implemented tests for repository and service
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
  packages/api/AlvTime.Business/Tasks/TaskType.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryWithCustomerDto.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/Utils/DateUtils.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/InvoiceRateController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/BusinessLogic/DateUtilTests.cs
  packages/api/Tests/UnitTests/InvoiceRate/InvoiceRateServiceTest.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Utils/TestDateUtils.cs
Owners: @palbock90, @martiskj

Update helm and use the chart made with updated helm
  .AzureDevOps/pipelines/installDependencies.yaml
  scripts/deployServices.sh
Owners: @trulsaa, @lnordhus

feature invoie-rate 📦 Made an MVP, just enough to show a simple percentage - Implemented a new repository, service and a controller - Implemented tests for repository and service
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
  packages/api/AlvTime.Business/Tasks/TaskType.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryWithCustomerDto.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/Utils/DateUtils.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/InvoiceRateController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/BusinessLogic/DateUtilTests.cs
  packages/api/Tests/UnitTests/InvoiceRate/InvoiceRateServiceTest.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Utils/TestDateUtils.cs
Owners: @palbock90, @martiskj

Update helm and use the chart made with updated helm
  .AzureDevOps/pipelines/installDependencies.yaml
  scripts/deployServices.sh
Owners: @trulsaa, @lnordhus

Created RegisteredFlex table
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/DatabaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DatabaseModels/RegisteredFlex.cs
  packages/api/AlvTime.Persistence/DatabaseModels/User.cs
Owners: @palbock90, @martiskj

Fetching registered flex when compensating for flex
  packages/api/AlvTime.Business/Payouts/PayoutValidationService.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/RegisteredFlexQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Fetching registered flex when compensating for flex
  packages/api/AlvTime.Business/Payouts/PayoutValidationService.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/RegisteredFlexQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Tasks/TaskServiceTests.cs
Owners: @palbock90, @martiskj

Created RegisteredFlex table
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/DatabaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DatabaseModels/RegisteredFlex.cs
  packages/api/AlvTime.Persistence/DatabaseModels/User.cs
Owners: @palbock90, @martiskj

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa
