Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock @lnordhus
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Small error making the invoice-rate to High Removed time from date, making the calculation correct The invoice date was 5% too high
  packages/api/AlvTimeWebApi/Controllers/InvoiceRateController.cs
Owners: @palbock, @lnordhus

feature invoice rate frontend mvp 📦 Added the billable hours as a percentage in the top corner
  packages/frontend/src/App.vue
  packages/frontend/src/components/InvoiceRate.vue
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/invoiceRate.ts
Owners: @trulsaa, @klyngen

feature invoice rate frontend mvp 📦 Added the billable hours as a percentage in the top corner
  packages/frontend/src/App.vue
  packages/frontend/src/components/InvoiceRate.vue
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/invoiceRate.ts
Owners: @trulsaa, @klyngen

Added backend functionality for employeeId
  packages/adminpanel/src/components/UserTable.tsx
  packages/api/AlvTime.Business/Users/IUserRepository.cs
  packages/api/AlvTime.Business/Users/UserDto.cs
  packages/api/AlvTime.Business/Users/UserResponseDto.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/DatabaseModels/User.cs
  packages/api/AlvTime.Persistence/Repositories/UserQueryableExtensions.cs
  packages/api/AlvTime.Persistence/Repositories/UserRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
Owners: @trulsaa, @theknarf, @palbock, @lnordhus

Added adminpanel functionality for employeeId
  packages/api/AlvTime.Business/Holidays/RedDaysService.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Requests/UserCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/UserUpdateRequest.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @palbock, @lnordhus

Added adminpanel functionality for employeeId
  packages/api/AlvTime.Business/Holidays/RedDaysService.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Requests/UserCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/UserUpdateRequest.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @palbock, @lnordhus

Added backend functionality for employeeId
  packages/adminpanel/src/components/UserTable.tsx
  packages/api/AlvTime.Business/Users/IUserRepository.cs
  packages/api/AlvTime.Business/Users/UserDto.cs
  packages/api/AlvTime.Business/Users/UserResponseDto.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/DatabaseModels/User.cs
  packages/api/AlvTime.Persistence/Repositories/UserQueryableExtensions.cs
  packages/api/AlvTime.Persistence/Repositories/UserRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
Owners: @trulsaa, @theknarf, @palbock, @lnordhus

Storing datetime when hour was registered
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/DatabaseModels/Hours.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
Owners: @palbock, @lnordhus

Storing datetime when hour was registered
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/DatabaseModels/Hours.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
Owners: @palbock, @lnordhus

TimeRegistered on Hours set to nullable
  packages/api/AlvTime.Persistence/DatabaseModels/Hours.cs
Owners: @palbock, @lnordhus

TimeRegistered on Hours set to nullable
  packages/api/AlvTime.Persistence/DatabaseModels/Hours.cs
Owners: @palbock, @lnordhus

Removed dashboard menu entry 🐛 We only have statistics page
  packages/frontend/src/components/Drawer.vue
Owners: @trulsaa, @klyngen

Removed dashboard menu entry 🐛 We only have statistics page
  packages/frontend/src/components/Drawer.vue
Owners: @trulsaa, @klyngen

Changing invoice-rate text 📦 The text on the top of the screen should reflect the backend change
  packages/frontend/src/components/InvoiceRate.vue
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

Changing invoice-rate text 📦 The text on the top of the screen should reflect the backend change
  packages/frontend/src/components/InvoiceRate.vue
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

Added adminpanel functionality for employment rates
  packages/adminpanel/src/components/EmploymentRateTable.tsx
  packages/adminpanel/src/components/HourRatesTable.tsx
  packages/adminpanel/src/components/Tables.tsx
  packages/adminpanel/src/components/UserTable.tsx
  packages/api/AlvTime.Business/Users/EmploymentRateChangeRequestDto.cs
  packages/api/AlvTime.Business/Users/IUserRepository.cs
  packages/api/AlvTime.Persistence/Repositories/UserRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Requests/EmploymentRateChangeRequest.cs
  packages/api/AlvTimeWebApi/Responses/EmploymentRateResponse.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @trulsaa, @theknarf, @palbock, @lnordhus

626: UI Improvements of the statistic cards
  packages/frontend/src/components/InvoiceStatisticCard.vue
  packages/frontend/src/store/invoiceRate.ts
Owners: @trulsaa, @klyngen

626: MVP interval button 🥳
  packages/frontend/src/components/IntervalShortcuts.vue
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/components/SimpleDatePicker.vue
Owners: @trulsaa, @klyngen

🥇Firstly
  пакеты/API/.vscode/launch.json
Owners: none

Added extra functionality to the invoice statistics endpoint
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
  packages/api/AlvTime.Business/InvoiceRate/InvoiceStatisticsDto.cs
  packages/api/AlvTimeWebApi/Controllers/InvoiceRateController.cs
  packages/api/Tests/UnitTests/InvoiceRate/InvoiceRateServiceTest.cs
Owners: @palbock, @lnordhus

Added extra functionality to the invoice statistics endpoint
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
  packages/api/AlvTime.Business/InvoiceRate/InvoiceStatisticsDto.cs
  packages/api/AlvTimeWebApi/Controllers/InvoiceRateController.cs
  packages/api/Tests/UnitTests/InvoiceRate/InvoiceRateServiceTest.cs
Owners: @palbock, @lnordhus

Updated invoice statistics endpoint to include upper(today) and lower(user start date) boundary to ensure correct calculations
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
Owners: @palbock, @lnordhus

Updated invoice statistics endpoint to include upper(today) and lower(user start date) boundary to ensure correct calculations
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
Owners: @palbock, @lnordhus

Updated invoice statistics endpoint to exclude AlvDays task
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
Owners: @palbock, @lnordhus

Updated invoice statistics endpoint to exclude AlvDays task
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
Owners: @palbock, @lnordhus

Made the compiler less angry 🦁 Improved some of the typing - A small pinch of typescript Love - Extended the RowData-interface
  packages/adminpanel/src/components/EmploymentRateTable.tsx
  packages/api/AlvTime.Business/Users/EmploymentRateChangeRequestDto.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTime.Business/Utils/DateUtils.cs
  packages/api/AlvTime.Persistence/Repositories/UserRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Requests/EmploymentRateChangeRequest.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @trulsaa, @theknarf, @palbock, @lnordhus

Added adminpanel functionality for employment rates
  packages/adminpanel/src/components/EmploymentRateTable.tsx
  packages/adminpanel/src/components/HourRatesTable.tsx
  packages/adminpanel/src/components/Tables.tsx
  packages/adminpanel/src/components/UserTable.tsx
  packages/api/AlvTime.Business/Users/EmploymentRateChangeRequestDto.cs
  packages/api/AlvTime.Business/Users/IUserRepository.cs
  packages/api/AlvTime.Persistence/Repositories/UserRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Requests/EmploymentRateChangeRequest.cs
  packages/api/AlvTimeWebApi/Responses/EmploymentRateResponse.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @trulsaa, @theknarf, @palbock, @lnordhus

Made the compiler less angry 🦁 Improved some of the typing - A small pinch of typescript Love - Extended the RowData-interface
  packages/adminpanel/src/components/EmploymentRateTable.tsx
  packages/api/AlvTime.Business/Users/EmploymentRateChangeRequestDto.cs
  packages/api/AlvTime.Business/Users/UserService.cs
  packages/api/AlvTime.Business/Utils/DateUtils.cs
  packages/api/AlvTime.Persistence/Repositories/UserRepository.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Requests/EmploymentRateChangeRequest.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserServiceTests.cs
  packages/api/Tests/UnitTests/Users/UserStorageTests.cs
Owners: @trulsaa, @theknarf, @palbock, @lnordhus

626: Added MVP functionality for i) last half year, ii) last year, iii) last quarter
  packages/frontend/package-lock.json
  packages/frontend/src/components/IntervalShortcuts.vue
  packages/frontend/src/components/InvoiceStatistics.vue
Owners: @trulsaa, @klyngen

626: UI Improvements of the statistic cards
  packages/frontend/src/components/InvoiceStatisticCard.vue
  packages/frontend/src/store/invoiceRate.ts
Owners: @trulsaa, @klyngen

626: Styled interval selections
  packages/frontend/src/components/IntervalShortcuts.vue
  packages/frontend/src/components/InvoiceStatistics.vue
Owners: @trulsaa, @klyngen

626: Fixing tests - Added missing break line in switch
  packages/frontend/src/components/IntervalShortcuts.vue
Owners: @trulsaa, @klyngen

626: UI Improvements of the statistic cards
  packages/frontend/src/components/InvoiceStatisticCard.vue
  packages/frontend/src/store/invoiceRate.ts
Owners: @trulsaa, @klyngen

Update deploy-pipeline.yaml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Update trivy-scan-code.yml
  .github/workflows/trivy-scan-code.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-adminpanel.yml
  .github/workflows/trivy-scan-adminpanel.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-api.yml
  .github/workflows/trivy-scan-api.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-code.yml
  .github/workflows/trivy-scan-code.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-frontend.yml
  .github/workflows/trivy-scan-frontend.yml
Owners: @theknarf, @trulsaa

Update trivy-scan-slackapp.yml
  .github/workflows/trivy-scan-slackapp.yml
Owners: @theknarf, @trulsaa
