Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock @lnordhus
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Remove auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Remove auth test
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Fix slack-app login flow
  packages/slack-app/src/routes/auth/index.ts
Owners: @trulsaa

Fix slack-app login flow
  packages/slack-app/src/routes/auth/index.ts
Owners: @trulsaa

No users have access after leaving
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Authorization/AuthorizePersonalAccessToken.cs
  packages/api/AlvTimeWebApi/Authorization/Handlers/EmployeeStillActiveHandler.cs
  packages/api/AlvTimeWebApi/Authorization/Policies/AdminAuthorizationPolicy.cs
  packages/api/AlvTimeWebApi/Controllers/AccessTokenController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AnalyticsController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AssociatedTaskController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/CustomerController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/EconomyController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/HourRateController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/ProjectController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/TaskAdminController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Controllers/InvoiceRateController.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock, @lnordhus

Fixed failing test
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
  packages/api/Tests/UnitTests/Authorization/EmployeeStillActiveHandlerTests.cs
Owners: @palbock, @lnordhus

Set up .vscode/launch.json to enable debugging
  .vscode/launch.json
Owners: none

Make session work agian
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/app.ts
  packages/slack-app/src/routes/auth/index.ts
Owners: @trulsaa

Use latest mongo container
  docker-compose.yaml
Owners: none

Set non top 100 most used password
  docker-compose.yaml
Owners: none

Make session work agian
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/app.ts
  packages/slack-app/src/routes/auth/index.ts
Owners: @trulsaa

Set non top 100 most used password
  docker-compose.yaml
Owners: none

Set up .vscode/launch.json to enable debugging
  .vscode/launch.json
Owners: none

Use latest mongo container
  docker-compose.yaml
Owners: none

Tester federated credentials
  .github/workflows/test-workflow.yml
Owners: @theknarf, @trulsaa

Tester federated credentials
  .github/workflows/test-workflow.yml
Owners: @theknarf, @trulsaa

Tester federated credentials
  .github/workflows/test-workflow.yml
Owners: @theknarf, @trulsaa

Tester federated credentials
  .github/workflows/test-workflow.yml
Owners: @theknarf, @trulsaa

Add vscode setup for debug in prod
  .vscode/launch.json
  docker-compose.yaml
Owners: none

Send innloggins prompt dersom auth refresh feiler
  packages/slack-app/src/actions/index.ts
  packages/slack-app/src/models/user.ts
  packages/slack-app/src/routes/auth/index.ts
  packages/slack-app/src/routes/auth/validateUpdateAccessToken.ts
  packages/slack-app/src/routes/slack/runCommand.ts
  packages/slack-app/src/routes/slack/slashCommand.ts
Owners: @trulsaa

Forbedre login message
  packages/slack-app/src/messages/index.ts
Owners: @trulsaa

Add logout command
  packages/slack-app/src/actions/index.ts
  packages/slack-app/src/actions/logout.ts
  packages/slack-app/src/messages/index.ts
  packages/slack-app/src/routes/slack/runCommand.ts
Owners: @trulsaa

Fixed failing test
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
  packages/api/Tests/UnitTests/Authorization/EmployeeStillActiveHandlerTests.cs
Owners: @palbock, @lnordhus

No users have access after leaving
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Authorization/AuthorizePersonalAccessToken.cs
  packages/api/AlvTimeWebApi/Authorization/Handlers/EmployeeStillActiveHandler.cs
  packages/api/AlvTimeWebApi/Authorization/Policies/AdminAuthorizationPolicy.cs
  packages/api/AlvTimeWebApi/Controllers/AccessTokenController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AnalyticsController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/AssociatedTaskController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/CustomerController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/EconomyController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/HourRateController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/ProjectController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/TaskAdminController.cs
  packages/api/AlvTimeWebApi/Controllers/Admin/UserController.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Controllers/InvoiceRateController.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
  packages/api/AlvTimeWebApi/Controllers/TasksController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock, @lnordhus

Created user end date requirement handler
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Authorization/AuthorizationExtensions.cs
  packages/api/AlvTimeWebApi/Authorization/Handlers/EmployeeStillActiveHandler.cs
  packages/api/AlvTimeWebApi/Authorization/Policies/AllowPersonalAccessTokenPolicy.cs
  packages/api/AlvTimeWebApi/Authorization/Requirements/EmployeeStillActiveRequirement.cs
  packages/frontend/src/services/auth.ts
Owners: @palbock, @lnordhus, @trulsaa, @klyngen

Corrected spelling mistake Absense til Absence in test-project. (Did not change this in the WebApi-project because this would lead to changes in other packages e.g. frontend)
  packages/api/Tests/UnitTests/AbsenceDaysService/AbsenceDayServiceTests.cs
Owners: @palbock, @lnordhus

Changing validation of payouts in frontend, so that validation is pr quarter, not pr half hour. (To ensure consistency between backend and frontend validation)
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

removed unecessary usings
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
Owners: @palbock, @lnordhus

Added QuarterHour as Validator in WebApi again. Changed so that the validator in WebApi only validates models in WebApi, and the valudator in Business only validates models in the Business project
  packages/api/AlvTime.Business/Payouts/GenericPayoutHourEntry.cs
  packages/api/AlvTime.Business/Validators/QuarterHour.cs
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
  packages/api/AlvTimeWebApi/Validators/QuarterHour.cs
Owners: @palbock, @lnordhus

Moved logic of quarter hour to ValidatePayout method and deleted QuarterHour validation from WebApi
  packages/api/AlvTime.Business/Payouts/PayoutValidationService.cs
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
  packages/api/AlvTimeWebApi/Validators/QuarterHour.cs
Owners: @palbock, @lnordhus

fixed build error (missing reference)
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
Owners: @palbock, @lnordhus

Added QuarterHour as Validator in WebApi again. Changed so that the validator in WebApi only validates models in WebApi, and the valudator in Business only validates models in the Business project
  packages/api/AlvTime.Business/Payouts/GenericPayoutHourEntry.cs
  packages/api/AlvTime.Business/Validators/QuarterHour.cs
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
  packages/api/AlvTimeWebApi/Validators/QuarterHour.cs
Owners: @palbock, @lnordhus

Changing validation of payouts in frontend, so that validation is pr quarter, not pr half hour. (To ensure consistency between backend and frontend validation)
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Corrected spelling mistake Absense til Absence in test-project. (Did not change this in the WebApi-project because this would lead to changes in other packages e.g. frontend)
  packages/api/Tests/UnitTests/AbsenceDaysService/AbsenceDayServiceTests.cs
Owners: @palbock, @lnordhus

removed unecessary usings
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
Owners: @palbock, @lnordhus

fixed build error (missing reference)
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
Owners: @palbock, @lnordhus

Moved logic of quarter hour to ValidatePayout method and deleted QuarterHour validation from WebApi
  packages/api/AlvTime.Business/Payouts/PayoutValidationService.cs
  packages/api/AlvTimeWebApi/Requests/PayoutRequest.cs
  packages/api/AlvTimeWebApi/Validators/QuarterHour.cs
Owners: @palbock, @lnordhus

DaysEarned is decimal
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/CustomVacationOverrideOverview.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/DatabaseModels/VacationDaysEarnedOverride.cs
Owners: @palbock, @lnordhus
