Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lundatic

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
.AzureDevOps/ @trulsaa
.github/ @theknarf @trulsaa
reverse-proxy/ @trulsaa @lundatic

Set correct stage name when setting git-short-hash variable in test and prod stages
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa

A step towards better development
  docker-compose.yaml
  packages/api/AlvTimeWebApi/C:/AlvTime-WebApi/AlvTimeWebApi/AlvTimeWebApi.xml
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Dockerfile
Owners: @palbock90, @martiskj

More validation for payouts
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/PaidOvertimeEntry.cs
  packages/api/AlvTime.Persistence/AlvTime.Persistence.csproj
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
Owners: @palbock90, @martiskj

Refactor tests
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Refactoring tests complete
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Extended error handling middleware
  packages/api/AlvTimeWebApi/ErrorHandling/ErrorHandlingMiddleware.cs
Owners: @palbock90, @martiskj

Tested new .net environment by developing absensedays endpoint
  docker-compose.yaml
  packages/api/.vim/run
  packages/api/.vscode/launch.json
  packages/api/.vscode/tasks.json
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysDto.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/IAbsenseDaysService.cs
  packages/api/AlvTime.Business/AlvTime.Business.csproj
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/PaidOvertimeEntry.cs
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Persistence/AlvTime.Persistence.csproj
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/AlvTimeWebApi/Controllers/AccessTokenController.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Models/HourEntryRequest.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Dockerfile
  packages/api/Tests/Tests.csproj
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTest.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

More validation for payouts
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/PaidOvertimeEntry.cs
  packages/api/AlvTime.Persistence/AlvTime.Persistence.csproj
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
Owners: @palbock90, @martiskj

Refactoring tests complete
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Refactor tests
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Extended error handling middleware
  packages/api/AlvTimeWebApi/ErrorHandling/ErrorHandlingMiddleware.cs
Owners: @palbock90, @martiskj

Added HourEntryRequest to Half-Hour-attribute
  docker-compose.yaml
  packages/api/AlvTime.Business/Validators/HalfHourAttribute.cs
Owners: @palbock90, @martiskj

fixed env-variable
  docker-compose.yaml
Owners: none

Split infrastructure into modules and stages
  packages/infrastructure/.gitignore
  packages/infrastructure/dns/main.tf
  packages/infrastructure/dns/variables.tf
  packages/infrastructure/kubernetes/main.tf
  packages/infrastructure/kubernetes/outputs.tf
  packages/infrastructure/kubernetes/variables.tf
  packages/infrastructure/main.tf
  packages/infrastructure/mongodb/main.tf
  packages/infrastructure/mongodb/outputs.tf
  packages/infrastructure/mongodb/variables.tf
  packages/infrastructure/outputs.tf
  packages/infrastructure/prod-backend.tfvars
  packages/infrastructure/providers.tf
  packages/infrastructure/sqldb/main.tf
  packages/infrastructure/sqldb/outputs.tf
  packages/infrastructure/sqldb/variables.tf
  packages/infrastructure/stage-1/main.tf
  packages/infrastructure/stage-1/outputs.tf
  packages/infrastructure/stage-1/variables.tf
  packages/infrastructure/stage-2/main.tf
  packages/infrastructure/stage-2/variables.tf
  packages/infrastructure/test-backend.tfvars
Owners: none

Create letsencryptClusterIssuer chart
  packages/charts/letsencryptClusterIssuer/.helmignore
  packages/charts/letsencryptClusterIssuer/Chart.yaml
  packages/charts/letsencryptClusterIssuer/templates/cluster-issuer.yaml
  packages/charts/letsencryptClusterIssuer/templates/secret.yaml
  packages/charts/letsencryptClusterIssuer/values.yaml
  packages/charts/service/.helmignore
  packages/charts/service/Chart.yaml
  packages/charts/service/build-steps.yaml
  packages/charts/service/data/admin/prod-config.json
  packages/charts/service/data/admin/prod-env.yaml
  packages/charts/service/data/admin/test-config.json
  packages/charts/service/data/admin/test-env.yaml
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
  packages/charts/service/data/frontend/prod-config.json
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-config.json
  packages/charts/service/data/frontend/test-env.yaml
  packages/charts/service/data/slack-api/prod-env.yaml
  packages/charts/service/data/slack-api/test-env.yaml
  packages/charts/service/deploy-steps.yaml
  packages/charts/service/templates/configMap.yaml
  packages/charts/service/templates/deployment.yaml
  packages/charts/service/templates/ingress.yaml
  packages/charts/service/templates/secret.yaml
  packages/charts/service/templates/service.yaml
  packages/charts/service/values.yaml
  packages/infrastructure/cluster-issuer.yaml
Owners: none

Split infrastructure into modules and stages
  packages/infrastructure/.gitignore
  packages/infrastructure/dns/main.tf
  packages/infrastructure/dns/variables.tf
  packages/infrastructure/kubernetes/main.tf
  packages/infrastructure/kubernetes/outputs.tf
  packages/infrastructure/kubernetes/variables.tf
  packages/infrastructure/main.tf
  packages/infrastructure/mongodb/main.tf
  packages/infrastructure/mongodb/outputs.tf
  packages/infrastructure/mongodb/variables.tf
  packages/infrastructure/outputs.tf
  packages/infrastructure/prod-backend.tfvars
  packages/infrastructure/providers.tf
  packages/infrastructure/sqldb/main.tf
  packages/infrastructure/sqldb/outputs.tf
  packages/infrastructure/sqldb/variables.tf
  packages/infrastructure/stage-1/main.tf
  packages/infrastructure/stage-1/outputs.tf
  packages/infrastructure/stage-1/variables.tf
  packages/infrastructure/stage-2/main.tf
  packages/infrastructure/stage-2/variables.tf
  packages/infrastructure/test-backend.tfvars
Owners: none

Create letsencryptClusterIssuer chart
  packages/charts/letsencryptClusterIssuer/.helmignore
  packages/charts/letsencryptClusterIssuer/Chart.yaml
  packages/charts/letsencryptClusterIssuer/templates/cluster-issuer.yaml
  packages/charts/letsencryptClusterIssuer/templates/secret.yaml
  packages/charts/letsencryptClusterIssuer/values.yaml
  packages/charts/service/.helmignore
  packages/charts/service/Chart.yaml
  packages/charts/service/build-steps.yaml
  packages/charts/service/data/admin/prod-config.json
  packages/charts/service/data/admin/prod-env.yaml
  packages/charts/service/data/admin/test-config.json
  packages/charts/service/data/admin/test-env.yaml
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
  packages/charts/service/data/frontend/prod-config.json
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-config.json
  packages/charts/service/data/frontend/test-env.yaml
  packages/charts/service/data/slack-api/prod-env.yaml
  packages/charts/service/data/slack-api/test-env.yaml
  packages/charts/service/deploy-steps.yaml
  packages/charts/service/templates/configMap.yaml
  packages/charts/service/templates/deployment.yaml
  packages/charts/service/templates/ingress.yaml
  packages/charts/service/templates/secret.yaml
  packages/charts/service/templates/service.yaml
  packages/charts/service/values.yaml
  packages/infrastructure/cluster-issuer.yaml
Owners: none

Fixed minor bugs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysDto.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/Validators/HalfHourAttribute.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Models/HourEntryRequest.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/frontend/src/components/OvertimeVisualizer.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Improved logic and added calculation of alv-days
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysDto.cs
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AlvTime.Business.csproj
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
Owners: @palbock90, @martiskj

Use CORS in api
  packages/api/AlvTimeWebApi/Cors/CorsExtensions.cs
  packages/api/AlvTimeWebApi/ErrorHandling/ErrorHandlingMiddlewareRegistrator.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
Owners: @palbock90, @martiskj

Add www as subdomain for frontend
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-env.yaml
  packages/infrastructure/dns/main.tf
Owners: none

Use CORS in api
  packages/api/AlvTimeWebApi/Cors/CorsExtensions.cs
  packages/api/AlvTimeWebApi/ErrorHandling/ErrorHandlingMiddlewareRegistrator.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
Owners: @palbock90, @martiskj

Add www as subdomain for frontend
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-env.yaml
  packages/infrastructure/dns/main.tf
Owners: none

Implemented visualization for the absense days
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/frontend/package-lock.json
  packages/frontend/public/config.json
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/store/absense.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Add container registry
  packages/charts/service/data/admin/prod-env.yaml
  packages/charts/service/data/admin/test-env.yaml
  packages/charts/service/data/api/prod-env.yaml
  packages/charts/service/data/api/test-env.yaml
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-env.yaml
  packages/charts/service/data/slack-api/prod-env.yaml
  packages/charts/service/data/slack-api/test-env.yaml
  packages/infrastructure/kubernetes/main.tf
  packages/infrastructure/kubernetes/variables.tf
  packages/infrastructure/stage-1/main.tf
  packages/infrastructure/stage-1/variables.tf
Owners: none

Remove unused terraform outputs
  packages/infrastructure/kubernetes/outputs.tf
  packages/infrastructure/stage-1/outputs.tf
Owners: none

Rewrite pipeline to use shell scripts
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  .AzureDevOps/pipelines/installDependencies.yaml
Owners: @trulsaa

Delete unused pipeline files
  .AzureDevOps/pipelines/deploy-admin-panel.yml
  packages/adminpanel/build-steps.yaml
  packages/api/build-steps.yaml
  packages/charts/service/build-steps.yaml
  packages/charts/service/deploy-steps.yaml
  packages/frontend/build-steps.yaml
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
  packages/slack-app/build-steps.yaml
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Remove legacy docker-compose files
  packages/api/docker-compose.yml
  packages/frontend/docker-compose.yaml
Owners: @palbock90, @martiskj, @trulsaa, @klyngen
