Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Add instructions for ARM Macs to development guide in README
  Readme.md
Owners: none

Ignore IDEA files (used by JetBrains programs)
  .gitignore
Owners: none

Resolve package-lock.json
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Add margin bottom to time entry rows on mobile
  packages/frontend/src/components/TimeEntrieDayList.vue
Owners: @trulsaa, @klyngen

Use native row gap to control spacing of time entries
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Rework spacing/padding in TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Remove unused styling in TimeEntrie.vue
  packages/frontend/src/components/TimeEntrie.vue
Owners: @trulsaa, @klyngen

Deploy services to "alvtime" namespace
  scripts/deployServices.sh
Owners: none

Deploy services to "alvtime" namespace
  scripts/deployServices.sh
Owners: none

Use native row gap to control spacing of time entries
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Remove unused styling in TimeEntrie.vue
  packages/frontend/src/components/TimeEntrie.vue
Owners: @trulsaa, @klyngen

Rework spacing/padding in TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Add margin bottom to time entry rows on mobile
  packages/frontend/src/components/TimeEntrieDayList.vue
Owners: @trulsaa, @klyngen

Resolve package-lock.json
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Ignore IDEA files (used by JetBrains programs)
  .gitignore
Owners: none

Add instructions for ARM Macs to development guide in README
  Readme.md
Owners: none

Legger til db economy for å lagre timeslønn for hver ansatt
  packages/api/AlvTime.Business/EconomyData/IEmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/EconomyDataDBModels/AlvEconomyDataContext.cs
  packages/api/AlvTime.Persistence/EconomyDataDBModels/EmployeeHourlySalary.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomy/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AlvEconomyDataDbContextBuilder.cs
  packages/api/Tests/UnitTests/EconomyDataTests/SalaryTests.cs
Owners: @palbock90, @martiskj

Legger til tabell OvertimePayout i AlvEconomyData db for å lagre hvor mye en bruker får utbalt for overtid
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutResponsDto.cs
  packages/api/AlvTime.Business/EconomyData/RegisterOvertimePayoutDto.cs
  packages/api/AlvTime.Persistence/EconomyDataDBModels/AlvEconomyDataContext.cs
  packages/api/AlvTime.Persistence/EconomyDataDBModels/OvertimePayout.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AlvEconomyDataDbContextBuilder.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/EmployeeHourlySalaryStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/OvertimePayoutStorageTests.cs
Owners: @palbock90, @martiskj

Use service chart from container registry
  packages/adminpanel/k8s_environments/prod-config.json
  packages/adminpanel/k8s_environments/prod-env.yaml
  packages/adminpanel/k8s_environments/test-config.json
  packages/adminpanel/k8s_environments/test-env.yaml
  packages/api/k8s_environments/prod-env.yaml
  packages/api/k8s_environments/test-env.yaml
  packages/charts/letsencryptClusterIssuer/.helmignore
  packages/charts/letsencryptClusterIssuer/Chart.yaml
  packages/charts/letsencryptClusterIssuer/templates/cluster-issuer.yaml
  packages/charts/letsencryptClusterIssuer/templates/secret.yaml
  packages/charts/letsencryptClusterIssuer/values.yaml
  packages/charts/service/.helmignore
  packages/charts/service/Chart.yaml
  packages/charts/service/data/admin/prod-env.yaml
  packages/charts/service/data/admin/test-env.yaml
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-env.yaml
  packages/charts/service/templates/configMap.yaml
  packages/charts/service/templates/deployment.yaml
  packages/charts/service/templates/ingress.yaml
  packages/charts/service/templates/secret.yaml
  packages/charts/service/templates/service.yaml
  packages/charts/service/values.yaml
  packages/frontend/k8s_environments/prod-config.json
  packages/frontend/k8s_environments/prod-env.yaml
  packages/frontend/k8s_environments/test-config.json
  packages/frontend/k8s_environments/test-env.yaml
  packages/slack-app/k8s_environments/prod-env.yaml
  packages/slack-app/k8s_environments/test-env.yaml
  scripts/deployServices.sh
  scripts/setup.sh
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Legger til loggikk for å beregne overtidsutbetiling på det tidspunktet du jobbet overtid, samt tester for dette
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Business/FlexiHours/PaidOvertimeEntry.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/AlvEconomyDataDbContextBuilder.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/EmployeeHourlySalaryStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/OvertimePayoutStorageTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Legger til controller for å hente ut lønnshistorikk og registrere ny lønn for en ansatt
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryDto.cs
  packages/api/AlvTime.Business/EconomyData/IEmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/EmployeeHourlySalaryStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/OvertimePayoutStorageTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Renamer en metode for å registrere overtid i databasen
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/OvertimePayoutStorageTests.cs
Owners: @palbock90, @martiskj

Use service chart from container registry
  packages/adminpanel/k8s_environments/prod-config.json
  packages/adminpanel/k8s_environments/prod-env.yaml
  packages/adminpanel/k8s_environments/test-config.json
  packages/adminpanel/k8s_environments/test-env.yaml
  packages/api/k8s_environments/prod-env.yaml
  packages/api/k8s_environments/test-env.yaml
  packages/charts/letsencryptClusterIssuer/.helmignore
  packages/charts/letsencryptClusterIssuer/Chart.yaml
  packages/charts/letsencryptClusterIssuer/templates/cluster-issuer.yaml
  packages/charts/letsencryptClusterIssuer/templates/secret.yaml
  packages/charts/letsencryptClusterIssuer/values.yaml
  packages/charts/service/.helmignore
  packages/charts/service/Chart.yaml
  packages/charts/service/data/admin/prod-env.yaml
  packages/charts/service/data/admin/test-env.yaml
  packages/charts/service/data/frontend/prod-env.yaml
  packages/charts/service/data/frontend/test-env.yaml
  packages/charts/service/templates/configMap.yaml
  packages/charts/service/templates/deployment.yaml
  packages/charts/service/templates/ingress.yaml
  packages/charts/service/templates/secret.yaml
  packages/charts/service/templates/service.yaml
  packages/charts/service/values.yaml
  packages/frontend/k8s_environments/prod-config.json
  packages/frontend/k8s_environments/prod-env.yaml
  packages/frontend/k8s_environments/test-config.json
  packages/frontend/k8s_environments/test-env.yaml
  packages/slack-app/k8s_environments/prod-env.yaml
  packages/slack-app/k8s_environments/test-env.yaml
  scripts/deployServices.sh
  scripts/setup.sh
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

småfikser fra code review
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryDto.cs
  packages/api/AlvTime.Business/EconomyData/IEmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/EmployeeHourlySalaryStorageTests.cs
Owners: @palbock90, @martiskj

Flytter en del av logikken fra EmployeeHourlySalaryStorage og OvertimePayoutStorage ut i SalaryService
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/EmployeeHourlySalaryStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Overtime/OvertimePayoutStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/EmployeeHourlySalaryStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/OvertimePayoutStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Skriver om metoden RegisterOvertimePayout, og flytter metoden over i FlexhourStorage
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/OvertimeEntry.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

Legger til Id fra PaidOvertime (fra AlvDevDb) i OvertimePayout for å gjøre oppslag for å slette evt. overtidsbetaling mer korrekt
  packages/api/AlvTime.Persistence/EconomyDataDBModels/OvertimePayout.cs
Owners: @palbock90, @martiskj

Endrer på DeleteOvertimePayout til å bruke RegisteredPaidOvertimeId for å unngå problem ved sletting av overtid. Endrer på OvertimePayoutResponsDto til å ha dato som string for evt. bruk av frontend
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutResponsDto.cs
  packages/api/AlvTime.Business/EconomyData/RegisterOvertimePayoutDto.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

Fjerner ubrukte usings i diverse filer
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
Owners: @palbock90, @martiskj

Fjerner ubrukte metoder for å hente ut timeslønn. Endrer på SaveOvertimePayout til å returnere OvertimePayoutRespons. Småtweaking i tester
  packages/api/AlvTime.Business/EconomyData/IEmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutResponsDto.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/EmployeeHourlySalaryStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/OvertimePayoutStorageTests.cs
Owners: @palbock90, @martiskj

Endrer OvertimePayoutResponsDto, RegisterOvertimePayoutDto og EmployeeSalaryDto til records, og fjerner Dto post-fix
  packages/api/AlvTime.Business/EconomyData/EmployeeSalary.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryDto.cs
  packages/api/AlvTime.Business/EconomyData/IEmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutRespons.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutResponsDto.cs
  packages/api/AlvTime.Business/EconomyData/RegisterOvertimePayout.cs
  packages/api/AlvTime.Business/EconomyData/RegisterOvertimePayoutDto.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/OvertimePayoutStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
Owners: @palbock90, @martiskj

Endrer slik at RegisterHourlySalary returnerer ny lønn
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
Owners: @palbock90, @martiskj

Endrer til at EmployeeSalaray returnerer dato som string til frontend
  packages/api/AlvTime.Business/EconomyData/EmployeeSalary.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryRequest.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryRespons.cs
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
Owners: @palbock90, @martiskj

Show expired access tokens
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/AccessTokenStorage.cs
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
  packages/frontend/src/components/TokensList.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Started working on bindestrekbrettet
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen

Chart with real data
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen

Finpussing på graf
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/Title.vue
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen

Fixing rebase conflicts
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Casted renderChart as any type
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen

Casted renderChart as any type
  packages/frontend/src/components/CommitChart.vue
  packages/frontend/src/views/Dashboard.vue
Owners: @trulsaa, @klyngen
