Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lundatic

Start calculation at start over OT system
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj

Fixed github workflows
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Syntax fix
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Removed --file flag
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Removed --file flag
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

One lined run command
  .github/workflows/api-docker-publish-master.yml
Owners: @theknarf, @trulsaa

Removed --file flag
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Syntax fix
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Removed --file flag
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

One lined run command
  .github/workflows/api-docker-publish-master.yml
Owners: @theknarf, @trulsaa

Fixed github workflows
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

fix frontend release build
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

fix frontend release build
  .github/workflows/frontend-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Upgrad node and vue-cli
  packages/frontend/Dockerfile
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

Stop replacing . with , when editing houre input
  packages/frontend/src/components/HourInput.vue
Owners: @trulsaa, @klyngen

Stop replacing . with , when editing houre input
  packages/frontend/src/components/HourInput.vue
Owners: @trulsaa, @klyngen

Upgrad node and vue-cli
  packages/frontend/Dockerfile
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

Add hamburger menu component
  packages/frontend/src/components/Hamburger.vue
Owners: @trulsaa, @klyngen

Replace avatar with hamburger component
  packages/frontend/src/App.vue
  packages/frontend/src/components/Avatar.vue
Owners: @trulsaa, @klyngen

Line up close menu button with open menu button
  packages/frontend/src/components/Drawer.vue
Owners: @trulsaa, @klyngen

Add hamburger menu component
  packages/frontend/src/components/Hamburger.vue
Owners: @trulsaa, @klyngen

Replace avatar with hamburger component
  packages/frontend/src/App.vue
  packages/frontend/src/components/Avatar.vue
Owners: @trulsaa, @klyngen

Line up close menu button with open menu button
  packages/frontend/src/components/Drawer.vue
Owners: @trulsaa, @klyngen

Hide menu button untill user is authenticated
  packages/frontend/src/App.vue
Owners: @trulsaa, @klyngen

Hide menu button untill user is authenticated
  packages/frontend/src/App.vue
Owners: @trulsaa, @klyngen

Add some shell scripts
  packages/shell/alvtime.sh
Owners: none

Add some shell scripts
  packages/shell/alvtime.sh
Owners: none

Fix tests and add check for required variables
  packages/shell/alvtime.sh
Owners: none

Fix tests and add check for required variables
  packages/shell/alvtime.sh
Owners: none

Recording holiday on red day does not give flex
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Recording holiday on red day does not give flex
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Sunday now gives flex if worked
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Sunday now gives flex if worked
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Access to more enpoints are possible with accessToken
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
Owners: @palbock90, @martiskj

Access to more enpoints are possible with accessToken
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/ProfileController.cs
Owners: @palbock90, @martiskj

Completed simplified config
  docker-compose.yaml
Owners: none

Simplified compose file
  docker-compose.yaml
Owners: none

Removed reverse proxy and changed ports
  docker-compose.yaml
  reverse-proxy/Dockerfile
  reverse-proxy/Dockerfile-local-build
  reverse-proxy/dev.conf
  reverse-proxy/localBuild.conf
Owners: @trulsaa, @lundatic

Simplified compose file
  docker-compose.yaml
Owners: none

Removed reverse proxy and changed ports
  docker-compose.yaml
  reverse-proxy/Dockerfile
  reverse-proxy/Dockerfile-local-build
  reverse-proxy/dev.conf
  reverse-proxy/localBuild.conf
Owners: @trulsaa, @lundatic

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
.AzureDevOps/ @trulsaa
.github/ @theknarf @trulsaa
reverse-proxy/ @trulsaa @lundatic
