Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Fix missing entries on same date
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Fixed failing tests
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Fix expansion of aggregated payouts
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Move type translation to contants to prevent typod
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Formatting
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Fixed failing tests
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Change component import
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Added overtime and payout to sql script
  packages/api/AlvTime.Persistence/Database/InsertData.sql
Owners: @palbock90, @martiskj

Fix missing entries on same date
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Improve vacation logg message with month
  packages/slack-app/src/messages/index.ts
Owners: @trulsaa

Improve vacation logg message with month
  packages/slack-app/src/messages/index.ts
Owners: @trulsaa

Legger inn en .trivyignore fil for hvitelisting
  .trivyignore
Owners: none

Migrated api to dotnet 6
  .github/workflows/api-build-and-test.yml
  packages/api/AlvTime.Business/AlvTime.Business.csproj
  packages/api/AlvTime.Persistence/AlvTime.Persistence.csproj
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/Dockerfile
  packages/api/Tests/Tests.csproj
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
Owners: @theknarf, @trulsaa, @palbock90, @martiskj

Migrated api to dotnet 6
  .github/workflows/api-build-and-test.yml
  packages/api/AlvTime.Business/AlvTime.Business.csproj
  packages/api/AlvTime.Persistence/AlvTime.Persistence.csproj
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/Dockerfile
  packages/api/Tests/Tests.csproj
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
Owners: @theknarf, @trulsaa, @palbock90, @martiskj

Add AAD SSO and raw Bearer token authentication methods to Swagger UI
  packages/api/AlvTimeWebApi/Startup.cs
Owners: @palbock90, @martiskj

Extract Swagger configuration to its own file
  packages/api/AlvTimeWebApi/Authorization/SwaggerExtensions.cs
  packages/api/AlvTimeWebApi/Startup.cs
Owners: @palbock90, @martiskj

Add AAD SSO and raw Bearer token authentication methods to Swagger UI
  packages/api/AlvTimeWebApi/Startup.cs
Owners: @palbock90, @martiskj

Extract Swagger configuration to its own file
  packages/api/AlvTimeWebApi/Authorization/SwaggerExtensions.cs
  packages/api/AlvTimeWebApi/Startup.cs
Owners: @palbock90, @martiskj

Plural of criterion is criteria
  packages/api/AlvTime.Business/Users/IUserStorage.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
Owners: @palbock90, @martiskj

Reject outdated PATs in PersonalAccessTokenHandler authentication middleware
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
Owners: @palbock90, @martiskj

Test that PATs are rejected as long as their users have an end date in the past
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
Owners: @palbock90, @martiskj

Reject outdated PATs in PersonalAccessTokenHandler authentication middleware
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
Owners: @palbock90, @martiskj

Test that PATs are rejected as long as their users have an end date in the past
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
Owners: @palbock90, @martiskj

Plural of criterion is criteria
  packages/api/AlvTime.Business/Users/IUserStorage.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
Owners: @palbock90, @martiskj

Update dependencies in frontend
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Remove force cast and update Fuse to new API
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Remove stale code from old FlexiHours functionality and criterion is still criteria when plural
  packages/api/AlvTime.Business/FlexiHours/DateEntry.cs
  packages/api/AlvTime.Business/FlexiHours/Entry.cs
  packages/api/AlvTime.Business/FlexiHours/FlexedHoursDto.cs
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/PaidOvertimeEntry.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock90, @martiskj

Remove force cast and update Fuse to new API
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Update dependencies in frontend
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

DeleteOvertimeOnDate must be virtual for mock setup to override its definition
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
Owners: @palbock90, @martiskj

Remove stale code from old FlexiHours functionality and criterion is still criteria when plural
  packages/api/AlvTime.Business/FlexiHours/DateEntry.cs
  packages/api/AlvTime.Business/FlexiHours/Entry.cs
  packages/api/AlvTime.Business/FlexiHours/FlexedHoursDto.cs
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/PaidOvertimeEntry.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
Owners: @palbock90, @martiskj

DeleteOvertimeOnDate must be virtual for mock setup to override its definition
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
Owners: @palbock90, @martiskj

Start testing slack app in pipeline again
  .github/workflows/slackapp-build-and-test.yml
  packages/slack-app/Dockerfile
  packages/slack-app/package.json
  packages/slack-app/src/client/index.test.ts
  packages/slack-app/src/client/index.ts
Owners: @theknarf, @trulsaa

Use ClaimTypes.Name for retrieving name from User claims
  packages/api/AlvTimeWebApi/Controllers/Utils/RetrieveUsers.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
Owners: @palbock90, @martiskj

Use ClaimTypes.Name for retrieving name from User claims
  packages/api/AlvTimeWebApi/Controllers/Utils/RetrieveUsers.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
Owners: @palbock90, @martiskj

Fixed merge conflict
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Fixed merge conflict
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Fixed merge conflict
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Fixed merge conflict
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Fix alvar error on missing location of details
  packages/slack-app/src/routes/learning-collector/index.ts
Owners: @trulsaa
