Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lundatic

Replace test env pipeline with one that handles kubernetes
  .AzureDevOps/pipelines/deploy-admin-panel-dev.yml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/slackapp-build-and-test.yml
  .github/workflows/slackapp-docker-publish-master.yml
  packages/adminpanel/build-steps.yaml
  packages/api/build-steps.yaml
  packages/chart/build-steps.yaml
  packages/chart/deploy-steps.yaml
  packages/frontend/build-steps.yaml
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
  packages/slack-app/build-steps.yaml
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Create helm chart that enables deployment of all alvtime services
  .github/workflows/slackapp-build-and-test.yml
  packages/chart/.helmignore
  packages/chart/Chart.yaml
  packages/chart/data/admin/prod-config.json
  packages/chart/data/admin/prod-env.yaml
  packages/chart/data/admin/test-config.json
  packages/chart/data/admin/test-env.yaml
  packages/chart/data/api/prod-env.yaml
  packages/chart/data/api/test-env.yaml
  packages/chart/data/frontend/prod-config.json
  packages/chart/data/frontend/prod-env.yaml
  packages/chart/data/frontend/test-config.json
  packages/chart/data/frontend/test-env.yaml
  packages/chart/data/slack-api/prod-env.yaml
  packages/chart/data/slack-api/test-env.yaml
  packages/chart/templates/configMap.yaml
  packages/chart/templates/deployment.yaml
  packages/chart/templates/ingress.yaml
  packages/chart/templates/secret.yaml
  packages/chart/templates/service.yaml
  packages/chart/values.yaml
  packages/slack-app/src/app.ts
Owners: @theknarf, @trulsaa

Enable kubernetes remote debugging
  .github/workflows/slackapp-build-and-test.yml
  packages/slack-app/.vscode/launch.json
Owners: @theknarf, @trulsaa

Refactor Terraform config into terraform modules
  packages/infrastructure/Readme.md
  packages/infrastructure/input.tf
  packages/infrastructure/main.tf
  packages/infrastructure/modules/api/main.tf
  packages/infrastructure/modules/kubernetes/main.tf
  packages/infrastructure/modules/letsencrypt/main.tf
  packages/infrastructure/modules/slack-app/main.tf
  packages/infrastructure/outputs.tf
  packages/infrastructure/providers.tf
Owners: none

Move kubernetes and helm/letsencrypt back into the main.tf file
  packages/infrastructure/main.tf
  packages/infrastructure/modules/kubernetes/main.tf
  packages/infrastructure/modules/letsencrypt/main.tf
Owners: none

Add finishing setup step for letsencrypt
  packages/infrastructure/README.md
  packages/infrastructure/cluster-issuer.yaml
Owners: none

Replace test env pipeline with one that handles kubernetes
  .AzureDevOps/pipelines/deploy-admin-panel-dev.yml
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/slackapp-build-and-test.yml
  .github/workflows/slackapp-docker-publish-master.yml
  packages/adminpanel/build-steps.yaml
  packages/api/build-steps.yaml
  packages/chart/build-steps.yaml
  packages/chart/deploy-steps.yaml
  packages/frontend/build-steps.yaml
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
  packages/slack-app/build-steps.yaml
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Enable kubernetes remote debugging
  packages/slack-app/.vscode/launch.json
Owners: @trulsaa

Create helm chart that enables deployment of all alvtime services
  packages/chart/.helmignore
  packages/chart/Chart.yaml
  packages/chart/data/admin/prod-config.json
  packages/chart/data/admin/prod-env.yaml
  packages/chart/data/admin/test-config.json
  packages/chart/data/admin/test-env.yaml
  packages/chart/data/api/prod-env.yaml
  packages/chart/data/api/test-env.yaml
  packages/chart/data/frontend/prod-config.json
  packages/chart/data/frontend/prod-env.yaml
  packages/chart/data/frontend/test-config.json
  packages/chart/data/frontend/test-env.yaml
  packages/chart/data/slack-api/prod-env.yaml
  packages/chart/data/slack-api/test-env.yaml
  packages/chart/templates/configMap.yaml
  packages/chart/templates/deployment.yaml
  packages/chart/templates/ingress.yaml
  packages/chart/templates/secret.yaml
  packages/chart/templates/service.yaml
  packages/chart/values.yaml
  packages/slack-app/src/app.ts
Owners: @trulsaa

Get config from file not env vars. This enables one docker image for all environments
  docker-compose.yaml
  packages/adminpanel/Dockerfile
  packages/adminpanel/nginx.conf
  packages/adminpanel/package.json
  packages/adminpanel/public/config.json
  packages/adminpanel/src/config.ts
  packages/adminpanel/src/services/azureAd.ts
  packages/frontend/Dockerfile
  packages/frontend/public/config.json
  packages/frontend/src/__mocks__/config.ts
  packages/frontend/src/config.ts
  packages/frontend/src/services/auth.ts
  packages/frontend/src/store/__tests__/timeEntries.ts
Owners: @trulsaa, @theknarf, @klyngen

Pretty print pipeline files
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  packages/adminpanel/build-steps.yaml
  packages/api/build-steps.yaml
  packages/chart/build-steps.yaml
  packages/chart/deploy-steps.yaml
  packages/frontend/build-steps.yaml
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
  packages/slack-app/build-steps.yaml
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Remove use of unudeclared terraform variable
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
Owners: none

Remove terraform state after build in build and test stage
  packages/infrastructure/build-steps.yaml
Owners: none

Add prod stage with infrastructure not helm deploy
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa

Give description to terraform name variable
  packages/infrastructure/variables.tf
Owners: none

Move prod terraformstate to new storage account
  packages/infrastructure/prod-backend.tfvars
Owners: none

Import prod cosmosdb_account
  packages/infrastructure/main.tf
  packages/infrastructure/outputs.tf
Owners: none

Move test environment to test.alvtime.no
  packages/chart/data/admin/test-config.json
  packages/chart/data/admin/test-env.yaml
  packages/chart/data/api/test-env.yaml
  packages/chart/data/frontend/test-config.json
  packages/chart/data/frontend/test-env.yaml
  packages/chart/data/slack-api/test-env.yaml
Owners: none

Remove terraform state after build in build and test stage
  packages/infrastructure/build-steps.yaml
Owners: none

Give description to terraform name variable
  packages/infrastructure/variables.tf
Owners: none

Move test environment to test.alvtime.no
  packages/chart/data/admin/test-config.json
  packages/chart/data/admin/test-env.yaml
  packages/chart/data/api/test-env.yaml
  packages/chart/data/frontend/test-config.json
  packages/chart/data/frontend/test-env.yaml
  packages/chart/data/slack-api/test-env.yaml
Owners: none

Pretty print pipeline files
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  packages/adminpanel/build-steps.yaml
  packages/api/build-steps.yaml
  packages/chart/build-steps.yaml
  packages/chart/deploy-steps.yaml
  packages/frontend/build-steps.yaml
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
  packages/slack-app/build-steps.yaml
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Add prod stage with infrastructure not helm deploy
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa

Import prod cosmosdb_account
  packages/infrastructure/main.tf
  packages/infrastructure/outputs.tf
Owners: none

Remove use of unudeclared terraform variable
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
Owners: none

Move prod terraformstate to new storage account
  packages/infrastructure/prod-backend.tfvars
Owners: none

Implemented basic vacation overview
  packages/api/AlvTime.Business/Helpers/VacationExtension.cs
  packages/api/AlvTime.Business/TimeEntries/VacationOverviewDto.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Tests/UnitTests/BusinessLogic/RedDaysTests.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/views/Vacation.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

MVP vacation overview
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/views/Vacation.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

implemented store
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/views/Vacation.vue
Owners: @trulsaa, @klyngen

Some refactoring
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
Owners: @palbock90, @martiskj

Refactor vacation store out of overtime and into vacation.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/vacation.ts
Owners: @trulsaa, @klyngen

Stoped exporting overtime interfaces that are not used anywere else
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

Refactor vacation store out of overtime and into vacation.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/vacation.ts
Owners: @trulsaa, @klyngen

Some refactoring
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
Owners: @palbock90, @martiskj

Stoped exporting overtime interfaces that are not used anywere else
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

MVP vacation overview
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/views/Vacation.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

implemented store
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/views/Vacation.vue
Owners: @trulsaa, @klyngen

Implemented basic vacation overview
  packages/api/AlvTime.Business/Helpers/VacationExtension.cs
  packages/api/AlvTime.Business/TimeEntries/VacationOverviewDto.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/Tests/UnitTests/BusinessLogic/RedDaysTests.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/views/Vacation.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Refactored OvertimeVisualizer
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

Set correct stage name when setting git-short-hash variable in test and prod stages
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
.AzureDevOps/ @trulsaa
.github/ @theknarf @trulsaa
reverse-proxy/ @trulsaa @lundatic
