Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Set correct resource group and k8s cluster for prod
  scripts/setup.sh
Owners: none

Add script for fetching key vault secrets using curl
  packages/shell/get_key_vault_secrets.sh
Owners: @trulsaa

REnamer metode for å filtrere ut avspasering og tidligere utbetalinger (Flexhour storage)
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj

Småfikser basert på tilbakemelding fra Code review. Litt renaming og flytting av variabel deklarasjon for bedre lesbarhet
  packages/api/AlvTime.Business/EconomyData/EmployeeSalary.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryDto.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryRespons.cs
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryResponse.cs
  packages/api/AlvTime.Business/EconomyData/IEmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Business/EconomyData/IOvertimePayoutStorage.cs
  packages/api/AlvTime.Business/EconomyData/ISalaryService.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutDto.cs
  packages/api/AlvTime.Business/EconomyData/OvertimePayoutRespons.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/OvertimePayoutStorageTests.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

Endrer gruperingen på comprate for overtidsberegning fra å bruke matrise med List<List...>> til dictionary med comp rate som key
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj

Fjerner ToDate på registrering av ny Lønn
  packages/api/AlvTime.Business/EconomyData/EmployeeSalaryRequest.cs
  packages/api/AlvTime.Business/Services/SalaryService.cs
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/EmployeeHourlySalaryStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
Owners: @palbock90, @martiskj

fix inconsistent initialization of new DateTime(...) in SalaryServiceTests, RegisterPaidOvertimePayoutTests and REgisterOvertimePayoutTests
  packages/api/Tests/UnitTests/EconomyDataTests/Salary/SalaryServiceTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterOvertimePayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

Tar i bruk DAteFormatter i SalaryController
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
Owners: @palbock90, @martiskj

Endrer på endepunkt for å hente ut lønnsdata om en ansatt til å kunne hente ut lønnsdata for flere ansatte i SalaryController
  packages/api/AlvTimeWebApi/Controllers/EconomyData/SalaryController.cs
Owners: @palbock90, @martiskj

Legger til bruk av transaction ved registrering og sletting av overtidsutbetaling
  packages/api/AlvTime.Persistence/Repositories/AlvEconomyData/OvertimePayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/AlvEconomyDataDbContextBuilder.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
Owners: @palbock90, @martiskj

Improve get_key_vault_secrets to the point that it works
  packages/shell/get_key_vault_secrets.sh
Owners: @trulsaa

Set collection name for cosmos db
  packages/slack-app/src/app.ts
Owners: @trulsaa

Add statistics page to show hours per task
  packages/frontend/package-lock.json
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/Title.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/store/__tests__/timeEntries.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/views/Summarizedhours.vue
Owners: @trulsaa, @klyngen

Add statistics page to show hours per task
  packages/frontend/package-lock.json
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/Title.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/store/__tests__/timeEntries.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/views/Summarizedhours.vue
Owners: @trulsaa, @klyngen

embed admin panel as a microfrontend script
  packages/adminpanel/src/components/AzureAdAuthenticator.tsx
  packages/frontend/public/index.html
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/views/Admin.vue
Owners: @trulsaa, @theknarf, @klyngen

Deploy to new subscriptions
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  docker-compose.yaml
  run
  scripts/deployServices.sh
  scripts/setup.sh
Owners: @trulsaa, @lnordhus

Refactored access token service to onion architecture
  packages/api/AlvTime.Business/AccessToken/AccessTokenFriendlyNameResponseDto.cs
  packages/api/AlvTime.Business/AccessToken/AccessTokenRequestDto.cs
  packages/api/AlvTime.Business/AccessToken/AccessTokenResponseDto.cs
  packages/api/AlvTime.Business/AccessToken/DeleteAccessTokenDto.cs
  packages/api/AlvTime.Business/AccessToken/IAccessTokenStorage.cs
  packages/api/AlvTime.Business/AccessToken/PersonalAccessToken/IPersonalAccessTokenStorage.cs
  packages/api/AlvTime.Business/AccessToken/PersonalAccessToken/Token.cs
  packages/api/AlvTime.Business/AccessToken/User.cs
  packages/api/AlvTime.Business/AccessTokens/AccessTokenDto.cs
  packages/api/AlvTime.Business/AccessTokens/AccessTokenService.cs
  packages/api/AlvTime.Business/AccessTokens/IAccessTokenStorage.cs
  packages/api/AlvTime.Business/AccessTokens/PersonalAccessToken.cs
  packages/api/AlvTime.Business/Extensions/VacationExtension.cs
  packages/api/AlvTime.Business/Interfaces/IUserContext.cs
  packages/api/AlvTime.Business/Models/Token.cs
  packages/api/AlvTime.Business/Models/User.cs
  packages/api/AlvTime.Business/Users/IUserStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AccessTokenStorage.cs
  packages/api/AlvTime.Persistence/Repositories/PersonalAccessTokenRepository.cs
  packages/api/AlvTime.Persistence/Repositories/UserQueryableExtensions.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Controllers/AccessTokenController.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
  packages/api/AlvTimeWebApi/Requests/AccessTokenCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/AccessTokenDeleteRequest.cs
  packages/api/AlvTimeWebApi/Responses/AccessTokenCreatedResponse.cs
  packages/api/AlvTimeWebApi/Responses/AccessTokenFriendlyNameResponse.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/Tests/UnitTests/AccessToken/AccessTokenServiceTests.cs
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
Owners: @palbock90, @martiskj

Refactored access token service to onion architecture
  packages/api/AlvTime.Business/AccessToken/AccessTokenFriendlyNameResponseDto.cs
  packages/api/AlvTime.Business/AccessToken/AccessTokenRequestDto.cs
  packages/api/AlvTime.Business/AccessToken/AccessTokenResponseDto.cs
  packages/api/AlvTime.Business/AccessToken/DeleteAccessTokenDto.cs
  packages/api/AlvTime.Business/AccessToken/IAccessTokenStorage.cs
  packages/api/AlvTime.Business/AccessToken/PersonalAccessToken/IPersonalAccessTokenStorage.cs
  packages/api/AlvTime.Business/AccessToken/PersonalAccessToken/Token.cs
  packages/api/AlvTime.Business/AccessToken/User.cs
  packages/api/AlvTime.Business/AccessTokens/AccessTokenDto.cs
  packages/api/AlvTime.Business/AccessTokens/AccessTokenService.cs
  packages/api/AlvTime.Business/AccessTokens/IAccessTokenStorage.cs
  packages/api/AlvTime.Business/AccessTokens/PersonalAccessToken.cs
  packages/api/AlvTime.Business/Extensions/VacationExtension.cs
  packages/api/AlvTime.Business/Interfaces/IUserContext.cs
  packages/api/AlvTime.Business/Models/Token.cs
  packages/api/AlvTime.Business/Models/User.cs
  packages/api/AlvTime.Business/Users/IUserStorage.cs
  packages/api/AlvTime.Persistence/Repositories/AccessTokenStorage.cs
  packages/api/AlvTime.Persistence/Repositories/PersonalAccessTokenRepository.cs
  packages/api/AlvTime.Persistence/Repositories/UserQueryableExtensions.cs
  packages/api/AlvTime.Persistence/Repositories/UserStorage.cs
  packages/api/AlvTimeWebApi/Authentication/PersonalAccessToken/PersonalAccessTokenHandler.cs
  packages/api/AlvTimeWebApi/Controllers/AccessTokenController.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
  packages/api/AlvTimeWebApi/Requests/AccessTokenCreateRequest.cs
  packages/api/AlvTimeWebApi/Requests/AccessTokenDeleteRequest.cs
  packages/api/AlvTimeWebApi/Responses/AccessTokenCreatedResponse.cs
  packages/api/AlvTimeWebApi/Responses/AccessTokenFriendlyNameResponse.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/Tests/UnitTests/AccessToken/AccessTokenServiceTests.cs
  packages/api/Tests/UnitTests/AccessToken/AccessTokenStorageTests.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
Owners: @palbock90, @martiskj

Added Alvdager task
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/k8s_environments/prod-env.yaml
  packages/api/k8s_environments/test-env.yaml
Owners: @palbock90, @martiskj

Alvdager is not locked
  packages/api/AlvTime.Persistence/Database/InsertData.sql
Owners: @palbock90, @martiskj

Added unit test
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Added more tests and some refactoring
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Using absence project to check if task gives overtime
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/k8s_environments/prod-env.yaml
  packages/api/k8s_environments/test-env.yaml
Owners: @palbock90, @martiskj

Using absence project to check if task gives overtime
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/k8s_environments/prod-env.yaml
  packages/api/k8s_environments/test-env.yaml
Owners: @palbock90, @martiskj

Added Alvdager task
  packages/api/AlvTime.Business/Options/TimeEntryOptions.cs
  packages/api/AlvTime.Persistence/Database/InsertData.sql
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/k8s_environments/prod-env.yaml
  packages/api/k8s_environments/test-env.yaml
Owners: @palbock90, @martiskj

Added more tests and some refactoring
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Alvdager is not locked
  packages/api/AlvTime.Persistence/Database/InsertData.sql
Owners: @palbock90, @martiskj

Added unit test
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
Owners: @palbock90, @martiskj

Removed comma from test-env.yaml
  packages/api/k8s_environments/test-env.yaml
Owners: @palbock90, @martiskj

Removed comma from test-env.yaml
  packages/api/k8s_environments/test-env.yaml
Owners: @palbock90, @martiskj

Update subscriptions in pipeline
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Update subscriptions in pipeline
  .AzureDevOps/pipelines/deploy-pipeline.yaml
Owners: @trulsaa, @lnordhus

Change container registry
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  scripts/setup.sh
Owners: @trulsaa, @lnordhus

Change container registry
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  scripts/setup.sh
Owners: @trulsaa, @lnordhus

Set new setup values
  scripts/setup.sh
Owners: none

Set new setup values
  scripts/setup.sh
Owners: none

Set subscription param when getting aks credentials
  scripts/deployServices.sh
  scripts/setup.sh
Owners: none

Remove unused db username and password from slack-app
  packages/slack-app/src/app.ts
  scripts/deployServices.sh
  scripts/setup.sh
Owners: @trulsaa

Set subscription param when getting aks credentials
  scripts/deployServices.sh
  scripts/setup.sh
Owners: none

Remove unused db username and password from slack-app
  packages/slack-app/src/app.ts
  scripts/deployServices.sh
  scripts/setup.sh
Owners: @trulsaa
