Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/infrastructure/ @trulsaa @theknarf
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Fix shellcheck errors
  packages/shell/alvtime.sh
Owners: @trulsaa

Split line into an array in a more robust way
  packages/shell/alvtime.sh
Owners: @trulsaa

Add check to see if the services respond after deploy
  scripts/deployServices.sh
Owners: none

Refactored hours to have alv-hours as planned hours
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/IAbsenseDaysService.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Startup.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/store/absense.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Can get holidays from range of years
  packages/api/AlvTime.Business/Holidays/IRedDaysService.cs
  packages/api/AlvTime.Business/Holidays/RedDaysService.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
Owners: @palbock90, @martiskj

Added new endpoint
  packages/api/AlvTime.Business/Holidays/IRedDaysService.cs
  packages/api/AlvTime.Business/Holidays/RedDaysService.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Added new endpoint
  packages/api/AlvTime.Business/Holidays/IRedDaysService.cs
  packages/api/AlvTime.Business/Holidays/RedDaysService.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Can get holidays from range of years
  packages/api/AlvTime.Business/Holidays/IRedDaysService.cs
  packages/api/AlvTime.Business/Holidays/RedDaysService.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
Owners: @palbock90, @martiskj

Remove stupid xml bastard
  packages/api/AlvTimeWebApi/C:/AlvTime-WebApi/AlvTimeWebApi/AlvTimeWebApi.xml
Owners: @palbock90, @martiskj

Change from avspasering to ferie
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/frontend/package-lock.json
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/components/Title.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/store/absense.ts
  packages/frontend/src/views/Vacation.vue
Owners: @palbock90, @martiskj, @trulsaa, @klyngen
