Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

Deleted flexhour storage
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

TimeEntriesOnDate is dictionary
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
Owners: @palbock90, @martiskj

Cannot register vacation on red day
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock90, @martiskj

Moved FetchFlexedHours and renamed
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/VacationDaysDTO.cs
  packages/api/AlvTime.Business/Extensions/VacationExtension.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryResponseDto.cs
  packages/api/AlvTime.Business/TimeEntries/VacationOverviewDto.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/Responses/GenericTimeEntryResponse.cs
  packages/api/AlvTimeWebApi/Responses/TimeEntriesResponse.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
Owners: @palbock90, @martiskj

Moved FetchFlexedHours and renamed
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/AbsenseDays/VacationDaysDTO.cs
  packages/api/AlvTime.Business/Extensions/VacationExtension.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryResponseDto.cs
  packages/api/AlvTime.Business/TimeEntries/VacationOverviewDto.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/Responses/GenericTimeEntryResponse.cs
  packages/api/AlvTimeWebApi/Responses/TimeEntriesResponse.cs
  packages/api/Tests/UnitTests/BusinessLogic/VacationExtensionTest.cs
Owners: @palbock90, @martiskj

Update Readme.md
  Readme.md
Owners: none

Update Readme.md
  Readme.md
Owners: none

Fix bug that made tasks now show on mobile
  packages/frontend/src/components/TimeEntrieDayList.vue
Owners: @trulsaa, @klyngen

Fix bug that made tasks now show on mobile
  packages/frontend/src/components/TimeEntrieDayList.vue
Owners: @trulsaa, @klyngen

Implement updating of tags form cvpartner
  docker-compose.yaml
  packages/slack-app/src/models/tags.ts
  packages/slack-app/src/routes/learning-collector/cvpartnerTags.ts
  packages/slack-app/src/routes/learning-collector/tags.ts
  run
Owners: @trulsaa

Use random reactons in messages
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/reactions.ts
Owners: @trulsaa

Update tags on start
  docker-compose.yaml
  packages/slack-app/src/models/tags.ts
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/tags.ts
Owners: @trulsaa

Block admin commands for non admins
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/modal.ts
Owners: @trulsaa

Add learning-collector slack app
  docker-compose.yaml
  package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/app.ts
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest.json
  run
Owners: @trulsaa

Fortell de som var med at læring har blitt registrert
  packages/slack-app/src/routes/learning-collector/blocks.ts
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Update slack packages
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
Owners: @trulsaa

Fuzzy search for tags and show tags in messages
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/models/tags.ts
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/modal.ts
Owners: @trulsaa

Learning-collector POC
  action.json
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/createLogger.ts
  packages/slack-app/src/models/learnings.ts
  packages/slack-app/src/routes/learning-collector/blocks.ts
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messageFilters.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/middleware.ts
  packages/slack-app/src/routes/learning-collector/modal.ts
  packages/slack-app/src/routes/learning-collector/models.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest.json
Owners: @trulsaa

Remove unused nginx folder from slack-app
  packages/slack-app/nginx/Dockerfile
  packages/slack-app/nginx/dev.conf
Owners: @trulsaa

Update node-fetch and @slack/web-api
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
Owners: @trulsaa

Setup test env
  docker-compose.yaml
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest-test.json
  scripts/deployServices.sh
  scripts/setup.sh
Owners: @trulsaa

Fix typescript error
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/tags.ts
Owners: @trulsaa

Update node version in slack app Dockerfile
  packages/slack-app/Dockerfile
  packages/slack-app/package.json
Owners: @trulsaa

Revert update of node-fetch
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
Owners: @trulsaa

Don't embed links and stufff
  packages/slack-app/src/routes/learning-collector/index.ts
Owners: @trulsaa

Make random number thingy available by export
  packages/slack-app/src/routes/learning-collector/reactions.ts
Owners: @trulsaa

Add some more flavorful messages
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Some aggressive grammar policing
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Create file for all reply texts
  packages/slack-app/src/routes/learning-collector/responses.ts
Owners: @trulsaa

Start using the new reply text file
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Create summary for each user
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/reactions.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest.json
Owners: @trulsaa

Add more responses
  packages/slack-app/src/routes/learning-collector/responses.ts
Owners: @trulsaa

Use new responses
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Make more stuff conditional and less confusing
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/responses.ts
Owners: @trulsaa

Create summary for each user
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/reactions.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest.json
Owners: @trulsaa

Make more stuff conditional and less confusing
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/responses.ts
Owners: @trulsaa

Fix typescript errors
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/responses.ts
Owners: @trulsaa

Start using the new reply text file
  packages/slack-app/src/routes/learning-collector/messages.ts
Owners: @trulsaa

Make more stuff conditional and less confusing
  packages/slack-app/src/routes/learning-collector/messages.ts
  packages/slack-app/src/routes/learning-collector/responses.ts
Owners: @trulsaa

Add learning-collector slack app
  docker-compose.yaml
  package-lock.json
  packages/slack-app/package.json
  packages/slack-app/src/app.ts
  packages/slack-app/src/routes/learning-collector/index.ts
  packages/slack-app/src/routes/learning-collector/slack_manifest.json
  run
Owners: @trulsaa

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa
