Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lundatic

Completed simplified config
  docker-compose.yaml
Owners: none

New app registration
  .AzureDevOps/pipelines/deploy-admin-panel-dev.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
  docker-compose.yaml
Owners: @trulsaa, @theknarf

New app registration
  .AzureDevOps/pipelines/deploy-admin-panel-dev.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-releases.yml
  docker-compose.yaml
Owners: @trulsaa, @theknarf

Endpoint for getting used vacation days
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Removed empty line
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Removed empty line
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Endpoint for getting used vacation days
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Store before checkout
  packages/frontend/src/store/overtime.ts
Owners: @trulsaa, @klyngen

commit 1
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/frontend/.env.development
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Implemented bugfix
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Changed AD values
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/frontend/package-lock.json
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Some refactoring
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

reverted package-lock.json changes
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Removed appsettings.Development
  packages/api/AlvTimeWebApi/appsettings.Development.json
Owners: @palbock90, @martiskj

Implemented bugfix
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTimeWebApi/appsettings.json
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Removed appsettings.Development
  packages/api/AlvTimeWebApi/appsettings.Development.json
Owners: @palbock90, @martiskj

reverted package-lock.json changes
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Some refactoring
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Changed AD values
  packages/api/AlvTimeWebApi/appsettings.Development.json
  packages/frontend/package-lock.json
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

commit 1
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/frontend/.env.development
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Order payoutentries by date
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj

Order payoutentries by date
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj

Improve run code quality in run script
  run
Owners: none

Update node
  packages/adminpanel/Dockerfile
Owners: @trulsaa, @theknarf

Use the same react-scripts and vue-scripts every build
  packages/adminpanel/Dockerfile
  packages/adminpanel/package.json
  packages/frontend/Dockerfile
  packages/frontend/package.json
Owners: @trulsaa, @theknarf, @klyngen

Update node
  packages/adminpanel/Dockerfile
Owners: @trulsaa, @theknarf

Improve run code quality in run script
  run
Owners: none

Use the same react-scripts and vue-scripts every build
  packages/adminpanel/Dockerfile
  packages/adminpanel/package.json
  packages/frontend/Dockerfile
  packages/frontend/package.json
Owners: @trulsaa, @theknarf, @klyngen

Server adminpanel from root folder
  packages/adminpanel/Dockerfile
  packages/adminpanel/nginx.conf
  packages/adminpanel/package.json
  packages/adminpanel/src/services/azureAd.ts
  packages/frontend/src/config.ts
Owners: @trulsaa, @theknarf, @klyngen

Create helm chart for service deploy
  .gitignore
  packages/adminpanel/prod-config.json
  packages/adminpanel/prod-env.yaml
  packages/adminpanel/test-config.json
  packages/adminpanel/test-env.yaml
  packages/api/prod-env.yaml
  packages/api/test-env.yaml
  packages/chart/.helmignore
  packages/chart/Chart.yaml
  packages/chart/templates/configMap.yaml
  packages/chart/templates/deployment.yaml
  packages/chart/templates/ingress.yaml
  packages/chart/templates/secret.yaml
  packages/chart/templates/service.yaml
  packages/chart/values.yaml
  packages/frontend/prod-config.json
  packages/frontend/prod-env.yaml
  packages/frontend/test-config.json
  packages/frontend/test-env.yaml
  packages/infrastructure/.gitignore
  packages/infrastructure/cluster-issuer.yaml
  packages/infrastructure/main.tf
  packages/infrastructure/outputs.tf
  packages/infrastructure/variables.tf
  packages/slack-app/prod-env.yaml
  packages/slack-app/test-env.yaml
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Get config from file not env vars. This enables one docker image for all environments
  docker-compose.yaml
  packages/adminpanel/.gitignore
  packages/adminpanel/Dockerfile
  packages/adminpanel/devConfig.json
  packages/adminpanel/src/config.ts
  packages/frontend/.gitignore
  packages/frontend/Dockerfile
  packages/frontend/devConfig.json
  packages/frontend/src/config.ts
  packages/frontend/src/services/auth.ts
Owners: @trulsaa, @theknarf, @klyngen

Improve run code quality in run script
  run
Owners: none

Start deploy pipeline
  deploy-pipeline.yaml
  packages/adminpanel/build-steps.yaml
  packages/api/build-steps.yaml
  packages/chart/build-steps.yaml
  packages/chart/data/admin/prod-config.json
  packages/chart/data/admin/prod-env.yaml
  packages/chart/data/admin/test-config.json
  packages/chart/data/admin/test-env.yaml
  packages/chart/data/api/prod-env.yaml
  packages/chart/data/api/test-env.yaml
  packages/chart/data/frontend/prod-config.json
  packages/chart/data/frontend/prod-env.yaml
  packages/chart/data/frontend/test-config.json
  packages/chart/data/frontend/test-env.yaml
  packages/chart/data/slack-api/prod-env.yaml
  packages/chart/data/slack-api/test-env.yaml
  packages/chart/deploy-steps.yaml
  packages/frontend/build-steps.yaml
  packages/infrastructure/build-steps.yaml
  packages/infrastructure/deploy-steps.yaml
  packages/infrastructure/main.tf
  packages/infrastructure/outputs.tf
  packages/infrastructure/providers.tf
  packages/infrastructure/variables.tf
  packages/slack-app/build-steps.yaml
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Delete pipelines
  .AzureDevOps/pipelines/deploy-admin-panel-dev.yml
  .github/workflows/api-docker-publish-master.yml
  .github/workflows/frontend-docker-publish-master.yml
  .github/workflows/slackapp-docker-publish-master.yml
  packages/adminpanel/devConfig.json
  packages/api/.vscode/tasks.json
  packages/chart/data/slack-api/prod-env.yaml
  packages/chart/data/slack-api/test-env.yaml
  packages/infrastructure/main.tf
  packages/infrastructure/outputs.tf
  packages/slack-app/.vscode/launch.json
  packages/slack-app/.vscode/tasks.json
  packages/slack-app/src/app.ts
  run
Owners: @trulsaa, @theknarf, @palbock90, @martiskj

Add kubernetes infrastructure using terraform
  packages/infrastructure/.gitignore
  packages/infrastructure/README.md
  packages/infrastructure/main.tf
  packages/infrastructure/outputs.tf
  packages/infrastructure/prod-backend.tfvars
  packages/infrastructure/providers.tf
  packages/infrastructure/test-backend.tfvars
  packages/infrastructure/variables.tf
Owners: none

Add kubernetes infrastructure using terraform
  packages/infrastructure/.gitignore
  packages/infrastructure/README.md
  packages/infrastructure/main.tf
  packages/infrastructure/outputs.tf
  packages/infrastructure/prod-backend.tfvars
  packages/infrastructure/providers.tf
  packages/infrastructure/test-backend.tfvars
  packages/infrastructure/variables.tf
Owners: none

Readme update
  Readme.md
Owners: none

Readme update
  Readme.md
Owners: none

Get config from file not env vars. This enables one docker image for all environments
  docker-compose.yaml
  packages/adminpanel/Dockerfile
  packages/adminpanel/nginx.conf
  packages/adminpanel/package.json
  packages/adminpanel/public/config.json
  packages/adminpanel/src/config.ts
  packages/adminpanel/src/services/azureAd.ts
  packages/frontend/Dockerfile
  packages/frontend/public/config.json
  packages/frontend/src/__mocks__/config.ts
  packages/frontend/src/config.ts
  packages/frontend/src/services/auth.ts
  packages/frontend/src/store/__tests__/timeEntries.ts
Owners: @trulsaa, @theknarf, @klyngen

Add finishing setup step for letsencrypt
  packages/infrastructure/README.md
  packages/infrastructure/cluster-issuer.yaml
Owners: none

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
.AzureDevOps/ @trulsaa
.github/ @theknarf @trulsaa
reverse-proxy/ @trulsaa @lundatic
