Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

Legger til endringer for å støtte avspasering mtp ulik comprate
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

Fjernet toggle transaction knapp
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Resolved last comments
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/services/auth.ts
  packages/frontend/src/views/Hours.vue
Owners: @trulsaa, @klyngen

Removed garbage from code
  packages/frontend/src/services/auth.ts
Owners: @trulsaa, @klyngen

rename cluster and acr
  scripts/deployServices.sh
  scripts/setup.sh
Owners: none

Removed token-list bugs
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/services/auth.ts
Owners: @trulsaa, @klyngen

Better login Pressing login button is no longer required Also transitioning over to axios with a neat httpClient that has a middleware resolving the bearer-token
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/AuthProvider.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/GenerateToken.vue
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/components/UnAutherizedUser.vue
  packages/frontend/src/router/index.ts
  packages/frontend/src/services/auth.ts
  packages/frontend/src/services/createMsalApp.js
  packages/frontend/src/services/httpClient.ts
  packages/frontend/src/store/absense.ts
  packages/frontend/src/store/auth.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/views/Login.vue
Owners: @trulsaa, @klyngen

Added back devmode
  packages/frontend/src/services/auth.ts
Owners: @trulsaa, @klyngen

Removed out of place async/await code
  packages/frontend/src/store/absense.ts
  packages/frontend/src/store/auth.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/tasks.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Removed more legacy error handling-code
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/services/httpClient.ts
  packages/frontend/src/store/index.ts
Owners: @trulsaa, @klyngen

Update packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Resolved last comments
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/services/auth.ts
  packages/frontend/src/views/Hours.vue
Owners: @trulsaa, @klyngen

Resolved PR-comments
  packages/frontend/src/components/ErrorSnackbar.vue
  packages/frontend/src/components/FavoriteSelector.vue
  packages/frontend/src/components/HourInput.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/TokensList.vue
Owners: @trulsaa, @klyngen

Removed read code
  packages/frontend/src/components/TokensList.vue
  packages/frontend/src/services/httpClient.ts
  packages/frontend/src/store/error.ts
Owners: @trulsaa, @klyngen

Removed garbage from code
  packages/frontend/src/services/auth.ts
Owners: @trulsaa, @klyngen

Throw AuthorizationException if user is disabled
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/AlvTimeWebApi/Controllers/Utils/RetrieveUsers.cs
  packages/api/AlvTimeWebApi/Exceptions/AuthorizationException.cs
Owners: @palbock90, @martiskj

rename cluster and acr
  scripts/deployServices.sh
  scripts/setup.sh
Owners: none

Change to correct CONTAINER_REGISTRY
  scripts/deployServices.sh
  scripts/pushServices.sh
  scripts/setup.sh
Owners: none

Change to correct CONTAINER_REGISTRY
  scripts/deployServices.sh
  scripts/pushServices.sh
  scripts/setup.sh
Owners: none

Fix CONTAINER_REGISTRY again
  packages/adminpanel/build.sh
  packages/api/build.sh
  packages/frontend/build.sh
  packages/slack-app/build.sh
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Fix CONTAINER_REGISTRY again
  packages/adminpanel/build.sh
  packages/api/build.sh
  packages/frontend/build.sh
  packages/slack-app/build.sh
Owners: @trulsaa, @theknarf, @palbock90, @martiskj, @klyngen

Throw AuthorizationException if user is disabled
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/AlvTimeWebApi/Controllers/Utils/RetrieveUsers.cs
  packages/api/AlvTimeWebApi/Exceptions/AuthorizationException.cs
Owners: @palbock90, @martiskj

Throw AuthorizationException if user is disabled
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/AlvTimeWebApi/Controllers/Utils/RetrieveUsers.cs
  packages/api/AlvTimeWebApi/Exceptions/AuthorizationException.cs
Owners: @palbock90, @martiskj

Use the new acr on login
  run
Owners: none

Use the new acr on login
  run
Owners: none

Delete packages/api/AlvTimeWebApi/C:/AlvTime-WebApi/AlvTimeWebApi directory
  packages/api/AlvTimeWebApi/C:/AlvTime-WebApi/AlvTimeWebApi/AlvTimeWebApi.xml
Owners: @palbock90, @martiskj

Delete packages/api/AlvTimeWebApi/C:/AlvTime-WebApi/AlvTimeWebApi directory
  packages/api/AlvTimeWebApi/C:/AlvTime-WebApi/AlvTimeWebApi/AlvTimeWebApi.xml
Owners: @palbock90, @martiskj

Updete pipeline with new acr name
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  scripts/setup.sh
Owners: @trulsaa, @lnordhus

Updete pipeline with new acr name
  .AzureDevOps/pipelines/deploy-pipeline.yaml
  scripts/setup.sh
Owners: @trulsaa, @lnordhus

Add script for fetching key vault secrets using curl
  packages/shell/get_key_vault_secrets.sh
Owners: @trulsaa

Changed dotnet version from .NET Core 3.1 -> .NET 5.0 in devcontainer. Now possible to build project with dotnet build inside the container
  packages/api/.devcontainer/Dockerfile
Owners: @palbock90, @martiskj

Legger til en test pga endringer i gruppering på comp rate og sortering på lønn. Endrer på variabel og metodenavn for å øke lesbarhet
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimePayoutTests.cs
Owners: @palbock90, @martiskj

Changed dotnet version from .NET Core 3.1 -> .NET 5.0 in devcontainer. Now possible to build project with dotnet build inside the container
  packages/api/.devcontainer/Dockerfile
Owners: @palbock90, @martiskj

Update packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Update packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Update packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Fjernet toggle transaction knapp
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Update packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Fungerend knapp
  packages/api/.gitignore
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Set correct resource group and k8s cluster for prod
  scripts/setup.sh
Owners: none
