Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lnordhus

Update package-lock
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Dont flash ZeroSelectedTasks component
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Make prettierrc agree with eslint
  packages/frontend/.prettierrc
Owners: @trulsaa, @klyngen

Remove redundant FETCH_TASKS. It is called in Hours.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Added tests for payoutservice
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Using dbcontextscope for transaction and sqlite for testing
  packages/api/AlvTime.Business/Interfaces/IDbContextScope.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/DbContextScope.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/Tests.csproj
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

Added tests for TimeRegistrationService
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

More validation for time entries
  packages/api/AlvTime.Business/Overtime/AvailableOvertimeDto.cs
  packages/api/AlvTime.Business/Overtime/TimeEntry.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

STORAGE
  packages/frontend/k8s_environments/prod-config.json
  packages/frontend/k8s_environments/review-config.json
  scripts/commentOnPr.js
  scripts/deployServices.sh
  scripts/setup.sh
  scripts/utils.sh
Owners: @trulsaa, @klyngen

Update slack packages
  packages/slack-app/package-lock.json
  packages/slack-app/package.json
Owners: @trulsaa

Remove unused nginx folder from slack-app
  packages/slack-app/nginx/Dockerfile
  packages/slack-app/nginx/dev.conf
Owners: @trulsaa

Working overtime calculation
  packages/api/AlvTime.Business/AlvTime.Business.csproj
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Smaller fixes
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Responses/AvailableOvertimeResponse.cs
  packages/api/AlvTimeWebApi/Responses/TimeEntryResponse.cs
Owners: @palbock90, @martiskj

Minor bugfixes
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Added tests for payoutservice
  packages/api/AlvTime.Business/AbsenseDays/AbsenseDaysService.cs
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Added unit tests for overtimeservice
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/RedDays.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Business/Utils/TaskUtils.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/AlvTimeWebApi/Controllers/TimeEntriesController.cs
  packages/api/AlvTimeWebApi/Controllers/Utils/UserContext.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/BusinessLogic/RedDaysTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeServiceTests.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Smaller fixes
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTimeWebApi/AlvTimeWebApi.csproj
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Responses/AvailableOvertimeResponse.cs
  packages/api/AlvTimeWebApi/Responses/TimeEntryResponse.cs
Owners: @palbock90, @martiskj

Added tests for TimeRegistrationService
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

Working overtime calculation
  packages/api/AlvTime.Business/AlvTime.Business.csproj
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Added empty method for getting available overtime
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
Owners: @palbock90, @martiskj

Started implementation of new overtime system
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/RedDays.cs
  packages/api/AlvTime.Business/TimeEntries/ITimeEntryStorage.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntriesWithCompRateResponseDto.cs
  packages/api/AlvTime.Persistence/AlvTime.Persistence.csproj
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AssociatedTasks.cs
  packages/api/AlvTime.Persistence/DataBaseModels/CompensationRate.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Customer.cs
  packages/api/AlvTime.Persistence/DataBaseModels/EarnedOvertime.cs
  packages/api/AlvTime.Persistence/DataBaseModels/HourRate.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Hours.cs
  packages/api/AlvTime.Persistence/DataBaseModels/PaidOvertime.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Project.cs
  packages/api/AlvTime.Persistence/DataBaseModels/Task.cs
  packages/api/AlvTime.Persistence/DataBaseModels/TaskFavorites.cs
  packages/api/AlvTime.Persistence/DataBaseModels/User.cs
  packages/api/AlvTime.Persistence/DataBaseModels/VDataDump.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
Owners: @palbock90, @martiskj

Minor bugfixes
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
Owners: @palbock90, @martiskj

Using dbcontextscope for transaction and sqlite for testing
  packages/api/AlvTime.Business/Interfaces/IDbContextScope.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/DbContextScope.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/Tests.csproj
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
Owners: @palbock90, @martiskj

More validation for time entries
  packages/api/AlvTime.Business/Overtime/AvailableOvertimeDto.cs
  packages/api/AlvTime.Business/Overtime/TimeEntry.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/ITimeRegistrationStorage.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/Payouts/PayoutServiceTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

Complete payout refactoring
  packages/api/AlvTime.Business/FlexiHours/GenericHourEntry.cs
  packages/api/AlvTime.Business/FlexiHours/IFlexihourRepository.cs
  packages/api/AlvTime.Business/FlexiHours/PayoutsDto.cs
  packages/api/AlvTime.Business/Overtime/AvailableHoursDto.cs
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutDto.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/Payouts/PayoutsDto.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Persistence/README.md
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/AlvTimeWebApi/Responses/PayoutResponse.cs
  packages/api/AlvTimeWebApi/Responses/PayoutsResponse.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeServiceTests.cs
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Refactored overtime logic out into overtime service
  packages/api/AlvTime.Business/FlexiHours/AvailableHoursDto.cs
  packages/api/AlvTime.Business/Overtime/EarnedOvertimeDto.cs
  packages/api/AlvTime.Business/Overtime/IOvertimeStorage.cs
  packages/api/AlvTime.Business/Overtime/OvertimeEntry.cs
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTime.Business/Payouts/IPayoutStorage.cs
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeEntries/ITimeEntryStorage.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryService.cs
  packages/api/AlvTime.Business/TimeEntries/TimeEntryWithCompRateDto.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/OvertimeStorage.cs
  packages/api/AlvTime.Persistence/Repositories/PayoutStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryQueryableExtension.cs
  packages/api/AlvTime.Persistence/Repositories/TimeEntryStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysStorage/AbsenseDayStorageTests.cs
  packages/api/Tests/UnitTests/AlvTimeDbContextBuilder.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
  packages/api/Tests/UnitTests/TestTimeEntryOptions.cs
  packages/api/Tests/UnitTests/TimeEntries/TimeEntryStorageTests.cs
Owners: @palbock90, @martiskj

Added OvertimeController and PayoutController
  packages/api/AlvTime.Business/Overtime/OvertimeService.cs
  packages/api/AlvTimeWebApi/Controllers/FlexiHourController.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/api/AlvTimeWebApi/Controllers/PayoutController.cs
  packages/api/Tests/UnitTests/Overtime/OvertimeServiceTests.cs
Owners: @palbock90, @martiskj

Workaround for NPE in CreateTimeEntry
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Add delayed progress bar based on if FETCH_TASKS is loading
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/views/Hours.vue
Owners: @trulsaa, @klyngen

Make prettierrc agree with eslint
  packages/frontend/.prettierrc
Owners: @trulsaa, @klyngen

Add delayed progress bar based on if FETCH_TASKS is loading
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/views/Hours.vue
Owners: @trulsaa, @klyngen

Dont flash ZeroSelectedTasks component
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Remove redundant FETCH_TASKS. It is called in Hours.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
Owners: @trulsaa, @klyngen

Update package-lock
  packages/frontend/package-lock.json
Owners: @trulsaa, @klyngen

Workaround for NPE in CreateTimeEntry
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/DataBaseModels/AlvTime_dbContext.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/Controllers/OvertimeController.cs
  packages/frontend/src/store/overtime.ts
Owners: @palbock90, @martiskj, @trulsaa, @klyngen

Cannot register vacation on red day
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock90, @martiskj

Fixed failing test
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

TimeEntriesOnDate is dictionary
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
Owners: @palbock90, @martiskj

Deleted flexhour storage
  packages/api/AlvTime.Business/Payouts/PayoutService.cs
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
  packages/api/AlvTime.Persistence/Repositories/TimeRegistrationStorage.cs
  packages/api/AlvTimeWebApi/ServiceRegistrator.cs
  packages/api/Tests/UnitTests/AbsenseDaysService/AbsenseDayServiceTests.cs
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeEquivalentsTest.cs
  packages/api/Tests/UnitTests/Flexihours/GetOvertimeTests.cs
  packages/api/Tests/UnitTests/Flexihours/RegisterPaidOvertimeTests.cs
Owners: @palbock90, @martiskj

Fixed failing test
  packages/api/Tests/UnitTests/Overtime/OvertimeTests.cs
  packages/api/Tests/UnitTests/TimeRegistrationServiceTests.cs
Owners: @palbock90, @martiskj

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa
