Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock, @lnordhus

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock @lnordhus
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @theknarf @trulsaa

DaysEarned is decimal
  packages/api/AlvTime.Business/Absence/AbsenceDaysService.cs
  packages/api/AlvTime.Business/Absence/CustomVacationOverrideOverview.cs
  packages/api/AlvTime.Persistence/Database/CreateDatabase.sql
  packages/api/AlvTime.Persistence/DatabaseModels/VacationDaysEarnedOverride.cs
Owners: @palbock, @lnordhus

byttet validering på ferieregistrering fra HoursInWorkday til anticipatedWorkHours
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock, @lnordhus

fikset feilende tester pga feil type exception
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock, @lnordhus

fikset feilende tester pga feil type exception
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock, @lnordhus

byttet validering på ferieregistrering fra HoursInWorkday til anticipatedWorkHours
  packages/api/AlvTime.Business/TimeRegistration/TimeRegistrationService.cs
Owners: @palbock, @lnordhus

626: added percentage symbol to y axis labels
  packages/frontend/src/components/InvoiceChart.vue
Owners: @trulsaa, @klyngen

626: Add period preset buttons, fetch by granularity and granularity select filter
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/components/SimpleDatePicker.vue
  packages/frontend/src/store/invoiceRate.ts
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

626: subscribe to mutation to update selected granularity
  packages/frontend/src/components/InvoiceStatistics.vue
Owners: @trulsaa, @klyngen

Added new dev branch for adminpanel
  packages/adminpanel-v2/test.txt
Owners: none

Added Dockerfile from previous adminpanel
  packages/adminpanel-v2/Dockerfile
  packages/adminpanel-v2/test.txt
Owners: none

Created project skeleton
  package-lock.json
  packages/adminpanel-v2/Dockerfile
  packages/adminpanel/.devcontainer/Dockerfile
  packages/adminpanel/.devcontainer/devcontainer.json
  packages/adminpanel/.eslintignore
  packages/adminpanel/.eslintrc.cjs
  packages/adminpanel/.gitignore
  packages/adminpanel/.npmrc
  packages/adminpanel/.prettierignore
  packages/adminpanel/.prettierrc
  packages/adminpanel/README.md
  packages/adminpanel/package.json
  packages/adminpanel/playwright.config.ts
  packages/adminpanel/src/app.d.ts
  packages/adminpanel/src/app.html
  packages/adminpanel/src/index.test.ts
  packages/adminpanel/src/lib/index.ts
  packages/adminpanel/src/routes/+page.svelte
  packages/adminpanel/static/favicon.png
  packages/adminpanel/svelte.config.js
  packages/adminpanel/tests/test.ts
  packages/adminpanel/tsconfig.json
  packages/adminpanel/vite.config.ts
Owners: @trulsaa, @theknarf

added docker container
  packages/adminpanel/.devcontainer.json
  packages/adminpanel/.devcontainer/Dockerfile
  packages/adminpanel/.devcontainer/devcontainer.json
  packages/adminpanel/Dockerfile
Owners: @trulsaa, @theknarf

626: sort user tasks by date
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
Owners: @palbock, @lnordhus

added basic routing
  packages/adminpanel/src/routes/+page.svelte
  packages/adminpanel/src/routes/customers/+page.svelte
  packages/adminpanel/src/routes/employees/+page.svelte
Owners: @trulsaa, @theknarf

Global mocks FTW
  packages/frontend/jest.config.js
  packages/frontend/jest_global_mocks.js
Owners: @trulsaa, @klyngen

626: style cards, rename function
  packages/frontend/src/components/InvoiceStatisticCard.vue
  packages/frontend/src/utils/__tests__/timestamp-text-util.ts
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

626: get global jest mocks from klingens branch
  packages/frontend/jest.config.js
  packages/frontend/jest_global_mocks.js
Owners: @trulsaa, @klyngen

626: fix all lint errors and ignore global jest mocks in eslint config
  packages/frontend/.eslintrc.js
  packages/frontend/jest_global_mocks.js
  packages/frontend/src/App.vue
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/components/InvoiceStatisticCard.vue
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/components/SimpleDatePicker.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/declarations.d.ts
  packages/frontend/src/store/invoiceRate.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/utils/__tests__/timestamp-text-util.ts
  packages/frontend/src/utils/timestamp-text-util.ts
  packages/frontend/src/views/Hours.vue
  packages/frontend/src/views/Summarizedhours.vue
Owners: @trulsaa, @klyngen

626: style cards, rename function
  packages/frontend/src/components/InvoiceStatisticCard.vue
  packages/frontend/src/utils/__tests__/timestamp-text-util.ts
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

626: get global jest mocks from klingens branch
  packages/frontend/jest.config.js
  packages/frontend/jest_global_mocks.js
Owners: @trulsaa, @klyngen

626: subscribe to mutation to update selected granularity
  packages/frontend/src/components/InvoiceStatistics.vue
Owners: @trulsaa, @klyngen

626: sort user tasks by date
  packages/api/AlvTime.Business/InvoiceRate/InvoiceRateService.cs
Owners: @palbock, @lnordhus

626: fix all lint errors and ignore global jest mocks in eslint config
  packages/frontend/.eslintrc.js
  packages/frontend/jest_global_mocks.js
  packages/frontend/src/App.vue
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/components/InvoiceStatisticCard.vue
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/components/OvertimeVisualizer.vue
  packages/frontend/src/components/SimpleDatePicker.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/declarations.d.ts
  packages/frontend/src/store/invoiceRate.ts
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/timeEntries.ts
  packages/frontend/src/utils/__tests__/timestamp-text-util.ts
  packages/frontend/src/utils/timestamp-text-util.ts
  packages/frontend/src/views/Hours.vue
  packages/frontend/src/views/Summarizedhours.vue
Owners: @trulsaa, @klyngen

626: Add period preset buttons, fetch by granularity and granularity select filter
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/components/SimpleDatePicker.vue
  packages/frontend/src/store/invoiceRate.ts
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

626: added percentage symbol to y axis labels
  packages/frontend/src/components/InvoiceChart.vue
Owners: @trulsaa, @klyngen

initialized tailwind w/ alv colors
  package-lock.json
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/postcss.config.js
  packages/adminpanel/src/app.css
  packages/adminpanel/src/routes/+layout.svelte
  packages/adminpanel/src/routes/+page.svelte
  packages/adminpanel/tailwind.config.js
Owners: @trulsaa, @theknarf

initialized tailwind w/ alv colors
  package-lock.json
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/postcss.config.js
  packages/adminpanel/src/app.css
  packages/adminpanel/src/routes/+layout.svelte
  packages/adminpanel/src/routes/+page.svelte
  packages/adminpanel/tailwind.config.js
Owners: @trulsaa, @theknarf

703: handle NaN as 0 in UI, replace custom annotation plugin with charjts-annotation, include zero periods in fetch call, refactor chart component
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/store/invoiceRate.ts
  packages/frontend/src/utils/horizontal-line-chart-plugin.ts
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

703: fix lint issues
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/store/invoiceRate.ts
Owners: @trulsaa, @klyngen

703: add annotation dependency, remove devtools dep since it stops npm install
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

Wip - Creates mock version of forslag 1.2 - refactor for improved component structure - Made lineshifts, etc, consistent - Oppdaterte komponentstrukturen etter nyeste design
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/src/components/customerpage/customerdetails/CustomerDetails.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/activities/Activities.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/activities/activity/Activity.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/headers/CustomerHeader.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/headers/ListHeader.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/projects/Projects.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/projects/project/Project.svelte
  packages/adminpanel/src/components/customerpage/customerlist/CustomerList.svelte
  packages/adminpanel/src/components/customerpage/customerlist/customers/Customers.svelte
  packages/adminpanel/src/components/customerpage/customerlist/customers/customer/Customer.svelte
  packages/adminpanel/src/components/customerpage/customerlist/searchbar/SearchBar.svelte
  packages/adminpanel/src/lib/mock/customers.ts
  packages/adminpanel/src/lib/types.ts
  packages/adminpanel/src/routes/customers/+page.svelte
  packages/adminpanel/src/routes/employees/+page.svelte
  packages/adminpanel/tsconfig.json
Owners: @trulsaa, @theknarf

Wip - Creates mock version of forslag 1.2 - refactor for improved component structure - Made lineshifts, etc, consistent - Oppdaterte komponentstrukturen etter nyeste design
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/src/components/customerpage/customerdetails/CustomerDetails.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/activities/Activities.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/activities/activity/Activity.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/headers/CustomerHeader.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/headers/ListHeader.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/projects/Projects.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/projects/project/Project.svelte
  packages/adminpanel/src/components/customerpage/customerlist/CustomerList.svelte
  packages/adminpanel/src/components/customerpage/customerlist/customers/Customers.svelte
  packages/adminpanel/src/components/customerpage/customerlist/customers/customer/Customer.svelte
  packages/adminpanel/src/components/customerpage/customerlist/searchbar/SearchBar.svelte
  packages/adminpanel/src/lib/mock/customers.ts
  packages/adminpanel/src/lib/types.ts
  packages/adminpanel/src/routes/customers/+page.svelte
  packages/adminpanel/src/routes/employees/+page.svelte
  packages/adminpanel/tsconfig.json
Owners: @trulsaa, @theknarf

structure customer and project header
  packages/adminpanel/src/components/customerpage/customerdetails/CustomerDetails.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/headers/CustomerHeader.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/headers/customerinfo/CustomerInfo.svelte
  packages/adminpanel/src/components/customerpage/customerdetails/headers/projectinfo/ProjectInfo.svelte
  packages/adminpanel/src/routes/customers/+page.svelte
Owners: @trulsaa, @theknarf

703: re-add vue devtools, refactor chart variable out of vue instance
  packages/frontend/package.json
  packages/frontend/src/components/InvoiceChart.vue
Owners: @trulsaa, @klyngen

703: revert to old anootation plugin, upgrade vue devtools to npm install on mac m1 computers
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/utils/horizontal-line-chart-plugin.ts
Owners: @trulsaa, @klyngen

703: re-add vue devtools, refactor chart variable out of vue instance
  packages/frontend/package.json
  packages/frontend/src/components/InvoiceChart.vue
Owners: @trulsaa, @klyngen

703: revert to old anootation plugin, upgrade vue devtools to npm install on mac m1 computers
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/utils/horizontal-line-chart-plugin.ts
Owners: @trulsaa, @klyngen

703: handle NaN as 0 in UI, replace custom annotation plugin with charjts-annotation, include zero periods in fetch call, refactor chart component
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/store/invoiceRate.ts
  packages/frontend/src/utils/horizontal-line-chart-plugin.ts
  packages/frontend/src/utils/timestamp-text-util.ts
Owners: @trulsaa, @klyngen

703: add annotation dependency, remove devtools dep since it stops npm install
  packages/frontend/package-lock.json
  packages/frontend/package.json
Owners: @trulsaa, @klyngen

703: fix lint issues
  packages/frontend/src/components/InvoiceChart.vue
  packages/frontend/src/components/InvoiceStatistics.vue
  packages/frontend/src/store/invoiceRate.ts
Owners: @trulsaa, @klyngen
