Repository Alv-no/alvtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trulsaa, @klyngen, @theknarf, @palbock90, @martiskj, @lundatic

.github/CODEOWNERS:

/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @theknarf
/packages/api/ @palbock90 @martiskj
/packages/slack-app/ @trulsaa
.AzureDevOps/ @trulsaa
.github/ @theknarf @trulsaa
reverse-proxy/ @trulsaa @lundatic

Corrected the display of the view
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Available hours in mobile view not shown when 0 hours #192
  packages/frontend/src/components/AvailableHours.vue
Owners: @trulsaa, @klyngen

Input box is now capable of taking in numbers with and without commas
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/Input.vue
Owners: @trulsaa, @klyngen

Error message when trying to withdraw more than available hours #238
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Input box is now capable of taking in numbers with and without commas
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/Input.vue
Owners: @trulsaa, @klyngen

Corrected the display of the view
  packages/frontend/src/components/TimeEntrieText.vue
Owners: @trulsaa, @klyngen

Available hours in mobile view not shown when 0 hours #192
  packages/frontend/src/components/AvailableHours.vue
Owners: @trulsaa, @klyngen

Commented out anchore
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Commented out anchore
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Re enable anchor-scan
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Re enable anchor-scan
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Add ZeroSelectedTasks empty state placeholder when there are no selected tasks
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/GenerateToken.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/Title.vue
  packages/frontend/src/components/ZeroSelectedTasks.vue
Owners: @trulsaa, @klyngen

Allign overtime order button
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Allign overtime order button
  packages/frontend/src/components/HoursWithdrawal.vue
Owners: @trulsaa, @klyngen

Add ZeroSelectedTasks empty state placeholder when there are no selected tasks
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/GenerateToken.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/Title.vue
  packages/frontend/src/components/ZeroSelectedTasks.vue
Owners: @trulsaa, @klyngen

Personlige access token
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/GenerateToken.vue
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Remove time
  packages/frontend/src/App.vue
Owners: @trulsaa, @klyngen

Make link to admin panel work in dev
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/config.ts
Owners: @trulsaa, @klyngen

Remove time
  packages/frontend/src/App.vue
Owners: @trulsaa, @klyngen

Personlige access token
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/GenerateToken.vue
  packages/frontend/src/components/Title.vue
Owners: @trulsaa, @klyngen

Make link to admin panel work in dev
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/config.ts
Owners: @trulsaa, @klyngen

Tree view for Customers
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/src/components/CustomerTable.tsx
  packages/adminpanel/src/components/HourRatesTable.tsx
  packages/adminpanel/src/components/ProjectsTable.tsx
  packages/adminpanel/src/components/Tables.tsx
  packages/adminpanel/src/components/TasksTable.tsx
  packages/adminpanel/src/components/UserTable.tsx
Owners: @trulsaa, @theknarf

Disable revalidate on focus
  packages/adminpanel/src/App.tsx
Owners: @trulsaa, @theknarf

Add fuzzy search to FavoriteSelector
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Reomove running of non existant test becuse it blocked the pipeline
  .github/workflows/adminpanel-build-and-test.yml
Owners: @theknarf, @trulsaa

Lint frontend
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/Input.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/ZeroSelectedTasks.vue
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Lint frontend
  packages/frontend/src/components/AvailableHours.vue
  packages/frontend/src/components/Drawer.vue
  packages/frontend/src/components/HoursWithdrawal.vue
  packages/frontend/src/components/Input.vue
  packages/frontend/src/components/TimeEntrieDayList.vue
  packages/frontend/src/components/TimeEntrieText.vue
  packages/frontend/src/components/TimeEntrieWeekList.vue
  packages/frontend/src/components/ZeroSelectedTasks.vue
  packages/frontend/src/store/overtime.ts
  packages/frontend/src/store/timeEntries.ts
Owners: @trulsaa, @klyngen

Add fuzzy search to FavoriteSelector
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Make selecting favorite task work when list is filtered
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Make selecting favorite task work when list is filtered
  packages/frontend/src/components/FavoriteSelector.vue
Owners: @trulsaa, @klyngen

Reomove running of non existant test becuse it blocked the pipeline
  .github/workflows/adminpanel-build-and-test.yml
Owners: @theknarf, @trulsaa

Tree view for Customers
  packages/adminpanel/package-lock.json
  packages/adminpanel/package.json
  packages/adminpanel/src/components/CustomerTable.tsx
  packages/adminpanel/src/components/HourRatesTable.tsx
  packages/adminpanel/src/components/ProjectsTable.tsx
  packages/adminpanel/src/components/Tables.tsx
  packages/adminpanel/src/components/TasksTable.tsx
  packages/adminpanel/src/components/UserTable.tsx
Owners: @trulsaa, @theknarf

Disable revalidate on focus
  packages/adminpanel/src/App.tsx
Owners: @trulsaa, @theknarf

Set correct innputs to achore scan
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Added endpoint for red days
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Fixed failing test
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
Owners: @palbock90, @martiskj

Fixed failing test
  packages/api/Tests/UnitTests/Flexihours/CancelPayoutTests.cs
Owners: @palbock90, @martiskj

Added endpoint for red days
  packages/api/AlvTimeWebApi/Controllers/HolidayController.cs
Owners: @palbock90, @martiskj

Set correct innputs to achore scan
  .github/workflows/api-docker-publish-releases.yml
  .github/workflows/frontend-docker-publish-releases.yml
  .github/workflows/slackapp-docker-publish-releases.yml
Owners: @theknarf, @trulsaa

Start calculation at start over OT system
  packages/api/AlvTime.Persistence/Repositories/FlexhourStorage.cs
Owners: @palbock90, @martiskj
